<div id="bank_card" class="form bank-card-from">
    <div class="row">
        <input type="text" class="input big number" name="pan" placeholder="Card Number">
    </div>

    <div class="row">
        <div class="expire">
            <div>
                <input type="text" class="input xs number" name="month" placeholder="MM">
            </div>
            <div class="delimiter">/</div>
            <div>
                <input type="text" class="input xs number" name="year" placeholder="YYYY">
            </div>
        </div>
        <div class="cvv">
            <input type="password" class="input small number" name="cvv" placeholder="CVV">
        </div>
    </div>

    <div class="row">
        <input type="text" class="input big" name="card_holder" placeholder="Card Holder">
    </div>
</div>
