<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Payment link</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{if index . "Order"}}
        <div id="p1payone-form"></div>
        <script>
            window.PAYSUPER_FORM_DATA = {{ Marshal .Order }};
        </script>
        <!-- todo: switch to production version -->
        <script src="https://static.protocol.one/paysuper/form/dev/paysuper-form.js"></script>
    {{else}}
        <h1>Link not found</h1>
    {{end}}
</body>
</html>