{
    "swagger": "2.0",
    "info": {
        "description": "This is a Protocol One payment solution service.",
        "title": "Protocol One payment solution swagger documentation",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "p1payapi.tst.protocol.one",
    "paths": {
        "/api/v1/country": {
            "get": {
                "description": "Get full list of currencies or get list of currencies filtered by name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Country"
                ],
                "summary": "Get list of countries",
                "parameters": [
                    {
                        "type": "string",
                        "description": "name or symbolic ISO 3166-1 code of country",
                        "name": "name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Country"
                            }
                        }
                    },
                    "500": {
                        "description": "Some unknown error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/api/v1/country/{id}": {
            "get": {
                "description": "Get country object by numeric ISO 3166-1 code",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Country"
                ],
                "summary": "Get country by numeric ISO 3166-1 code",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "numeric ISO 3166-1 country code",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Country"
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Some unknown error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/api/v1/currency": {
            "get": {
                "description": "Get full list of currencies or get list of currencies filtered by name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Currency"
                ],
                "summary": "Get list of currencies",
                "parameters": [
                    {
                        "type": "string",
                        "description": "name or symbolic ISO 4217 code of currency",
                        "name": "name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Currency"
                            }
                        }
                    },
                    "500": {
                        "description": "Some unknown error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/api/v1/currency/{id}": {
            "get": {
                "description": "Get currency object by numeric ISO 4217 code",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Currency"
                ],
                "summary": "Get currency by numeric ISO 4217 code",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "numeric ISO 4217 currency code",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Currency"
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Some unknown error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/api/v1/order": {
            "post": {
                "description": "Create a payment order use POST JSON request",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Payment Order"
                ],
                "summary": "Create order with json request",
                "parameters": [
                    {
                        "description": "Order create data",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.OrderScalar"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Object with url to form entering payment requisites",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.OrderUrl"
                        }
                    },
                    "400": {
                        "description": "Object with error message",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Object with error message",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/api/v1/payment": {
            "post": {
                "description": "Create payment by order",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Payment Order"
                ],
                "summary": "Create payment",
                "parameters": [
                    {
                        "description": "data to create payment",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.OrderCreatePaymentRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "contain url to redirect user",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/payment_system.PaymentResponse"
                        }
                    },
                    "400": {
                        "description": "contain error description about data validation error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/payment_system.PaymentResponse"
                        }
                    },
                    "402": {
                        "description": "contain error description about error on payment system side",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/payment_system.PaymentResponse"
                        }
                    },
                    "500": {
                        "description": "contain error description about error on PSP (P1) side",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/payment_system.PaymentResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/project/package/{region}/{project_id}": {
            "get": {
                "description": "Get list of project's fixed packages by filters",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Project"
                ],
                "summary": "Get project's fixed packages",
                "parameters": [
                    {
                        "type": "string",
                        "description": "2 symbols region code by ISO 3166-1",
                        "name": "region",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "project unique identifier",
                        "name": "project_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "array",
                        "description": "array of identifiers of fixed packages",
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "description": "array of names of fixed packages",
                        "name": "name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.FilteredFixedPackage"
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Object with error message",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/api/v1/s/merchant": {
            "put": {
                "description": "Update merchant data",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Merchant"
                ],
                "summary": "Update merchant",
                "parameters": [
                    {
                        "description": "Merchant object with new data",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.MerchantScalar"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Merchant"
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Some unknown error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new merchant",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Merchant"
                ],
                "summary": "Create merchant",
                "parameters": [
                    {
                        "description": "Creating merchant data",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.MerchantScalar"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Merchant"
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Some unknown error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            },
            "delete": {
                "description": "Mark merchant as deleted",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Merchant"
                ],
                "summary": "Delete merchant",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Some unknown error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/api/v1/s/merchant/{id}": {
            "get": {
                "description": "Get full data about merchant",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Merchant"
                ],
                "summary": "Get merchant",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Merchant"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Some unknown error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/api/v1/s/order": {
            "get": {
                "description": "Get orders list",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Payment Order"
                ],
                "summary": "Get orders",
                "parameters": [
                    {
                        "type": "string",
                        "description": "order unique identifier",
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "description": "list of projects to get orders filtered by they",
                        "name": "project",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "description": "list of payment methods to get orders filtered by they",
                        "name": "payment_method",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "description": "list of payer countries to get orders filtered by they",
                        "name": "country",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "description": "list of orders statuses to get orders filtered by they",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "payer account on the any side of payment process. for example it may be account in project, account in payment system, payer email and etc",
                        "name": "account",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "start date when payment was closed to get orders filtered by they",
                        "name": "pm_date_from",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "end date when payment was closed to get orders filtered by they",
                        "name": "pm_date_to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "start date when payment was created to get orders filtered by they",
                        "name": "project_date_from",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "end date when payment was closed in project to get orders filtered by they",
                        "name": "project_date_to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "maximum number of returning orders. default value is 100",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "offset from which you want to return the list of orders. default value is 0",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "description": "fields list for sorting",
                        "name": "sort",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.OrderPaginate"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "404": {
                        "description": "Invalid request data",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Object with error message",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/api/v1/s/order/accounting_payment": {
            "get": {
                "description": "accounting payment by accounting period of merchant",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Payment Order"
                ],
                "summary": "Get accounting payment amounts by accounting period of merchant",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "period start in unix timestamp",
                        "name": "from",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "period end in unix timestamp",
                        "name": "to",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountingPayment"
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Object with error message",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/api/v1/s/order/revenue_dynamic/{period}": {
            "get": {
                "description": "Get revenue dynamics by merchant or project",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Payment Order"
                ],
                "summary": "Get revenue dynamics",
                "parameters": [
                    {
                        "type": "string",
                        "description": "period to group revenue dynamics data. now allowed next values: hour, day, week, month, year",
                        "name": "period",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "period start in unix timestamp",
                        "name": "from",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "period end in unix timestamp",
                        "name": "to",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "array",
                        "description": "list of projects to calculate dynamics of revenue",
                        "name": "project",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.RevenueDynamicResult"
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Object with error message",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/api/v1/s/order/{id}": {
            "get": {
                "description": "Get full object with order data",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Payment Order"
                ],
                "summary": "Get order data",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Order unique identifier",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Order"
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Object with error message",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/api/v1/s/project": {
            "get": {
                "description": "Get list of project for authenticated merchant",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Project"
                ],
                "summary": "List projects",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Project"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Some unknown error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            },
            "post": {
                "description": "Create new project for authenticated merchant",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Project"
                ],
                "summary": "Create project",
                "parameters": [
                    {
                        "description": "Creating project data",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.ProjectScalar"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Project"
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Some unknown error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/api/v1/s/project/{id}": {
            "get": {
                "description": "\"Get data about project\"",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Project"
                ],
                "summary": "Get project",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Project identifier",
                        "name": "data",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Project"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "404": {
                        "description": "Project not found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Some unknown error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            },
            "put": {
                "description": "Update project for authenticated merchant",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Project"
                ],
                "summary": "Update project",
                "parameters": [
                    {
                        "description": "Project object with new data",
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.ProjectScalar"
                        }
                    },
                    {
                        "type": "string",
                        "description": "Project identifier",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Project"
                        }
                    },
                    "400": {
                        "description": "Invalid request data",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Some unknown error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete project for authenticated merchant",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Project"
                ],
                "summary": "Delete project",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Project identifier",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "403": {
                        "description": "Access denied",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    },
                    "500": {
                        "description": "Some unknown error",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Error"
                        }
                    }
                }
            }
        },
        "/order/create": {
            "get": {
                "description": "Create a payment order use GET or POST HTML form",
                "consumes": [
                    "multipart/form-data",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "Payment Order"
                ],
                "summary": "Create order with HTML form",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Project unique identifier in Protocol One payment solution",
                        "name": "PP_PROJECT_ID",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Order amount",
                        "name": "PP_AMOUNT",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "User unique account in project",
                        "name": "PP_ACCOUNT",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Unique order identifier in project. This field not required, BUT we're recommend send this field always",
                        "name": "PP_ORDER_ID",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Payment method identifier in Protocol One payment solution",
                        "name": "PP_PAYMENT_METHOD",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Order description. If this field not send in request, then we're create standard order description",
                        "name": "PP_DESCRIPTION",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Order currency by ISO 4217 (3 chars). If this field send, then we're process amount in this currency",
                        "name": "PP_CURRENCY",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "User (payer) region code by ISO 3166-1 (2 chars) for check project packages. If this field not send, then user region will be get from user ip",
                        "name": "PP_REGION",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "User (payer) email",
                        "name": "PP_PAYER_EMAIL",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "User (payer) phone",
                        "name": "PP_PAYER_PHONE",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "URL for payment data verification request to project. This field can be send if it allowed in project admin panel",
                        "name": "PP_URL_VERIFY",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "URL for payment notification request to project. This field can be send if it allowed in project admin panel",
                        "name": "PP_URL_NOTIFY",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "URL for redirect user after successfully completed payment. This field can be send if it allowed in project admin panel",
                        "name": "PP_URL_SUCCESS",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "URL for redirect user after failed payment. This field can be send if it allowed in project admin panel",
                        "name": "PP_URL_FAIL",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Signature of request to verify that the data has not been changed. This field not required, BUT we're recommend send this field always",
                        "name": "PP_SIGNATURE",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Any fields on the project side that do not match the names of the reserved fields",
                        "name": "Other",
                        "in": "query"
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirect user to form entering payment requisites",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Redirect user to page with error description",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Redirect user to page with error description",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "post": {
                "description": "Create a payment order use GET or POST HTML form",
                "consumes": [
                    "multipart/form-data",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "Payment Order"
                ],
                "summary": "Create order with HTML form",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Project unique identifier in Protocol One payment solution",
                        "name": "PP_PROJECT_ID",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "number",
                        "description": "Order amount",
                        "name": "PP_AMOUNT",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "User unique account in project",
                        "name": "PP_ACCOUNT",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Unique order identifier in project. This field not required, BUT we're recommend send this field always",
                        "name": "PP_ORDER_ID",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Payment method identifier in Protocol One payment solution",
                        "name": "PP_PAYMENT_METHOD",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Order description. If this field not send in request, then we're create standard order description",
                        "name": "PP_DESCRIPTION",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Order currency by ISO 4217 (3 chars). If this field send, then we're process amount in this currency",
                        "name": "PP_CURRENCY",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "User (payer) region code by ISO 3166-1 (2 chars) for check project packages. If this field not send, then user region will be get from user ip",
                        "name": "PP_REGION",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "User (payer) email",
                        "name": "PP_PAYER_EMAIL",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "User (payer) phone",
                        "name": "PP_PAYER_PHONE",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "URL for payment data verification request to project. This field can be send if it allowed in project admin panel",
                        "name": "PP_URL_VERIFY",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "URL for payment notification request to project. This field can be send if it allowed in project admin panel",
                        "name": "PP_URL_NOTIFY",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "URL for redirect user after successfully completed payment. This field can be send if it allowed in project admin panel",
                        "name": "PP_URL_SUCCESS",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "URL for redirect user after failed payment. This field can be send if it allowed in project admin panel",
                        "name": "PP_URL_FAIL",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Signature of request to verify that the data has not been changed. This field not required, BUT we're recommend send this field always",
                        "name": "PP_SIGNATURE",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Any fields on the project side that do not match the names of the reserved fields",
                        "name": "Other",
                        "in": "query"
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirect user to form entering payment requisites",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Redirect user to page with error description",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Redirect user to page with error description",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "model.AccountingPayment": {
            "type": "object",
            "properties": {
                "success_with_commissions": {
                    "description": "total amount to accounting payment to merchant include commissions\n",
                    "type": "number"
                },
                "success_without_commissions": {
                    "description": "total amount to accounting payment to merchant exclude commissions\n",
                    "type": "number"
                },
                "total_chargeback": {
                    "description": "total amount charged payments\n",
                    "type": "number"
                },
                "total_commission": {
                    "description": "total amount of commissions\n",
                    "type": "number"
                },
                "total_refund": {
                    "description": "total amount refunded payments\n",
                    "type": "number"
                }
            }
        },
        "model.Country": {
            "type": "object",
            "properties": {
                "code_a2": {
                    "description": "2 chars ISO 3166-1 country code\n",
                    "type": "string"
                },
                "code_a3": {
                    "description": "3 chars ISO 3166-1 country code\n",
                    "type": "string"
                },
                "code_int": {
                    "description": "numeric ISO 3166-1 country code\n",
                    "type": "integer"
                },
                "created_at": {
                    "description": "date of create country in system\n",
                    "type": "string"
                },
                "is_active": {
                    "description": "is country active\n",
                    "type": "boolean"
                },
                "name": {
                    "description": "list of country names\n",
                    "type": "object",
                    "$ref": "#/definitions/model.Name"
                }
            }
        },
        "model.Currency": {
            "type": "object",
            "properties": {
                "code_a3": {
                    "description": "3 chars ISO 4217 currency code\n",
                    "type": "string"
                },
                "code_int": {
                    "description": "numeric ISO 4217 currency code\n",
                    "type": "integer"
                },
                "created_at": {
                    "description": "date of create currency in system8\n",
                    "type": "string"
                },
                "is_active": {
                    "description": "is currency active\n",
                    "type": "boolean"
                },
                "name": {
                    "description": "list of currency names\n",
                    "type": "object",
                    "$ref": "#/definitions/model.Name"
                }
            }
        },
        "model.Error": {
            "type": "object",
            "properties": {
                "message": {
                    "description": "text error description\n",
                    "type": "string"
                }
            }
        },
        "model.FilteredFixedPackage": {
            "type": "object",
            "properties": {
                "currency": {
                    "type": "object",
                    "$ref": "#/definitions/model.SimpleCurrency"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                }
            }
        },
        "model.Merchant": {
            "type": "object",
            "properties": {
                "accounting_period": {
                    "description": "period payout of money to merchant bank account. Now available next values: day - every day, week - every week, 2week - every two week, month - every month, quarter - every quarter, half-year - every half-year, year - every year\n",
                    "type": "string"
                },
                "country": {
                    "description": "full object of country where merchant company registered\n",
                    "type": "object",
                    "$ref": "#/definitions/model.Country"
                },
                "created_at": {
                    "description": "date of create merchant in system\n",
                    "type": "string"
                },
                "currency": {
                    "description": "full object describes merchant's accounting currency\n",
                    "type": "object",
                    "$ref": "#/definitions/model.Currency"
                },
                "email": {
                    "description": "merchant email\n",
                    "type": "string"
                },
                "external_id": {
                    "description": "unique merchant identifier in auth system\n",
                    "type": "string"
                },
                "id": {
                    "description": "unique merchant identifier\n",
                    "type": "string"
                },
                "is_commission_to_user_enabled": {
                    "description": "enable to add commission payment method and commission PSP (P1) to payment amount\n",
                    "type": "boolean"
                },
                "is_vat_enabled": {
                    "description": "vat calculation enabled\n",
                    "type": "boolean"
                },
                "name": {
                    "description": "merchant company legal name\n",
                    "type": "string"
                },
                "status": {
                    "description": "merchant status in system. Now available next statuses: 0 - created, 1 - verified, 2 - active, 3 - deleted\n",
                    "type": "integer"
                }
            }
        },
        "model.MerchantScalar": {
            "type": "object",
            "required": [
                "id"
            ],
            "properties": {
                "accounting_period": {
                    "description": "period payout of money to merchant bank account. Now available next values: day - every day, week - every week, 2week - every two week, month - every month, quarter - every quarter, half-year - every half-year, year - every year\n",
                    "type": "string"
                },
                "country": {
                    "description": "numeric ISO 3166-1 country code\n",
                    "type": "integer"
                },
                "currency": {
                    "description": "numeric ISO 4217 currency code describes merchant's accounting currency\n",
                    "type": "integer"
                },
                "email": {
                    "description": "merchant email\n",
                    "type": "string"
                },
                "id": {
                    "description": "unique merchant identifier in auth system\n",
                    "type": "string"
                },
                "name": {
                    "description": "merchant company legal name\n",
                    "type": "string"
                },
                "status": {
                    "description": "merchant status in system. Now available next statuses: 0 - created, 1 - verified, 2 - active, 3 - deleted\n",
                    "type": "integer"
                }
            }
        },
        "model.Name": {
            "type": "object",
            "properties": {
                "en": {
                    "description": "english name\n",
                    "type": "string"
                },
                "ru": {
                    "description": "russian name\n",
                    "type": "string"
                }
            }
        },
        "model.Order": {
            "type": "object",
            "properties": {
                "amount_in_merchant_accounting_currency": {
                    "description": "received from project operation amount in project owner (merchant) accounting currency\n",
                    "type": "number"
                },
                "amount_out_merchant_accounting_currency": {
                    "description": "received from payment system operation amount in project owner (merchant) accounting currency\n",
                    "type": "number"
                },
                "amount_ps_accounting_currency": {
                    "description": "operation amount in payment system accounting currency\n",
                    "type": "number"
                },
                "amount_psp_accounting_currency": {
                    "description": "operation amount in accounting currency of PSP\n",
                    "type": "number"
                },
                "created_at": {
                    "description": "date of last update order data\n",
                    "type": "string"
                },
                "created_by_json": {
                    "description": "is order create by json request\n",
                    "type": "boolean"
                },
                "description": {
                    "description": "order description\n",
                    "type": "string"
                },
                "fixed_package": {
                    "description": "fixed package which buy payer\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderFixedPackage"
                },
                "id": {
                    "description": "unique order identifier in Protocol One\n",
                    "type": "string"
                },
                "payer_data": {
                    "description": "information about payer, for example: ip, email,phone and etc\n",
                    "type": "object",
                    "$ref": "#/definitions/model.PayerData"
                },
                "payment_method": {
                    "description": "payment method unique identifier\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderPaymentMethod"
                },
                "pm_account": {
                    "description": "account of payer in payment system\n",
                    "type": "string"
                },
                "pm_income_amount": {
                    "description": "order amount received from payment system in notification request\n",
                    "type": "number"
                },
                "pm_income_currency": {
                    "description": "order currency received from payment system in notification request\n",
                    "type": "object",
                    "$ref": "#/definitions/model.Currency"
                },
                "pm_order_close_date": {
                    "description": "date of ended payment operation in payment system\n",
                    "type": "string"
                },
                "pm_order_id": {
                    "description": "unique order id in payment system\n",
                    "type": "string"
                },
                "pm_outcome_amount": {
                    "description": "order amount send to payment system\n",
                    "type": "number"
                },
                "pm_outcome_currency": {
                    "description": "order currency send to payment system\n",
                    "type": "object",
                    "$ref": "#/definitions/model.Currency"
                },
                "pm_terminal_id": {
                    "description": "identifier of terminal for process payment in payment system side\n",
                    "type": "string"
                },
                "pm_txn_params": {
                    "description": "any params received in request of payment system about payment\n",
                    "type": "object"
                },
                "project": {
                    "description": "object described main entities of project in Protocol One payment solution\n",
                    "type": "object",
                    "$ref": "#/definitions/model.ProjectOrder"
                },
                "project_account": {
                    "description": "user unique account in project\n",
                    "type": "string"
                },
                "project_fee_amount": {
                    "description": "fee is charged with the project for the operation\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderFee"
                },
                "project_income_amount": {
                    "description": "order amount received from project\n",
                    "type": "number"
                },
                "project_income_currency": {
                    "description": "order currency received from project\n",
                    "type": "object",
                    "$ref": "#/definitions/model.Currency"
                },
                "project_last_requested_at": {
                    "description": "date of last notification request to project\n",
                    "type": "string"
                },
                "project_order_id": {
                    "description": "unique order identifier in project. if was send in create order process\n",
                    "type": "string"
                },
                "project_outcome_amount": {
                    "description": "order amount send to project in notification request\n",
                    "type": "number"
                },
                "project_outcome_currency": {
                    "description": "order currency send to project in notification request\n",
                    "type": "object",
                    "$ref": "#/definitions/model.Currency"
                },
                "project_params": {
                    "description": "any project params which received from project in request of create of order\n",
                    "type": "object"
                },
                "ps_fee_amount": {
                    "description": "payment system fee for payment operation\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderFeePaymentSystem"
                },
                "psp_amount_fee_amount": {
                    "description": "PSP (P1) fee amount\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderFeePsp"
                },
                "status": {
                    "description": "order status\n",
                    "type": "integer"
                },
                "to_payer_fee_amount": {
                    "description": "value of fee which added to payer amount\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderFee"
                },
                "vat_amount": {
                    "description": "vat amount\n",
                    "type": "number"
                }
            }
        },
        "model.OrderCreatePaymentRequest": {
            "type": "object",
            "properties": {
                "address": {
                    "description": "user wallet address in crypto payment system. required only for crypto payment\n",
                    "type": "string"
                },
                "card_holder": {
                    "description": "bank card card holder name. required only for bank card payment\n",
                    "type": "string"
                },
                "cvv": {
                    "description": "bank card cvv code. required only for bank card payment\n",
                    "type": "integer"
                },
                "ewallet": {
                    "description": "user account in ewallet payment system. required only for ewallet payment\n",
                    "type": "string"
                },
                "month": {
                    "description": "month of expire date of user bank card. required only for bank card payment\n",
                    "type": "integer"
                },
                "order_id": {
                    "description": "unique identifier of order on PSP (P1) side\n",
                    "type": "string"
                },
                "pan": {
                    "description": "user bank card number. required only for bank card payment\n",
                    "type": "string"
                },
                "payment_method_id": {
                    "description": "unique identifier of payment method by PSP (P1) classifier\n",
                    "type": "string"
                },
                "year": {
                    "description": "year of expire date of user bank card. required only for bank card payment\n",
                    "type": "integer"
                }
            }
        },
        "model.OrderFee": {
            "type": "object",
            "properties": {
                "amount_merchant_currency": {
                    "description": "amount of fee of payment system in accounting currency of merchant\n",
                    "type": "number"
                },
                "amount_payment_method_currency": {
                    "description": "amount of fee of payment system in payment currency\n",
                    "type": "number"
                }
            }
        },
        "model.OrderFeePaymentSystem": {
            "type": "object",
            "properties": {
                "amount_merchant_currency": {
                    "description": "amount of fee of payment system in accounting currency of merchant\n",
                    "type": "number"
                },
                "amount_payment_method_currency": {
                    "description": "amount of fee of payment system in payment currency\n",
                    "type": "number"
                },
                "amount_payment_system_currency": {
                    "description": "amount of fee of payment system in accounting currency of payment system\n",
                    "type": "number"
                }
            }
        },
        "model.OrderFeePsp": {
            "type": "object",
            "properties": {
                "amount_merchant_currency": {
                    "description": "amount of fee of payment system in accounting currency of merchant\n",
                    "type": "number"
                },
                "amount_payment_method_currency": {
                    "description": "amount of fee of payment system in payment currency\n",
                    "type": "number"
                },
                "amount_psp_currency": {
                    "description": "amount of fee of PSP (P1) in PSP (P1) accounting currencies\n",
                    "type": "number"
                }
            }
        },
        "model.OrderFixedPackage": {
            "type": "object",
            "properties": {
                "currency_int": {
                    "type": "integer"
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                },
                "region": {
                    "type": "string"
                }
            }
        },
        "model.OrderPaginate": {
            "type": "object",
            "properties": {
                "count": {
                    "description": "total count of selected orders\n",
                    "type": "integer"
                },
                "items": {
                    "description": "array of selected orders\n",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.OrderSimple"
                    }
                }
            }
        },
        "model.OrderPaymentMethod": {
            "type": "object",
            "properties": {
                "group_alias": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "params": {
                    "type": "object",
                    "$ref": "#/definitions/model.PaymentMethodParams"
                },
                "payment_system": {
                    "type": "object",
                    "$ref": "#/definitions/model.PaymentSystem"
                }
            }
        },
        "model.OrderScalar": {
            "type": "object",
            "required": [
                "amount",
                "account",
                "project"
            ],
            "properties": {
                "account": {
                    "description": "user unique account in project\n",
                    "type": "string"
                },
                "amount": {
                    "description": "order amount\n",
                    "type": "number"
                },
                "currency": {
                    "description": "order currency by ISO 4217 (3 chars). If this field send, then we're process amount in this currency\n",
                    "type": "string"
                },
                "description": {
                    "description": "order description. If this field not send in request, then we're create standard order description\n",
                    "type": "string"
                },
                "order_id": {
                    "description": "unique order identifier in project. This field not required, BUT we're recommend send this field always\n",
                    "type": "string"
                },
                "other": {
                    "description": "object with any fields on the project side that do not match the names of the reserved fields\n",
                    "type": "object"
                },
                "payer_email": {
                    "description": "user (payer) email\n",
                    "type": "string"
                },
                "payer_ip": {
                    "description": "user (payer) ip\n",
                    "type": "string"
                },
                "payer_phone": {
                    "description": "user (payer) phone\n",
                    "type": "string"
                },
                "payment_method": {
                    "description": "payment method identifier in Protocol One payment solution\n",
                    "type": "string"
                },
                "project": {
                    "description": "project unique identifier in Protocol One payment solution\n",
                    "type": "string"
                },
                "region": {
                    "description": "user (payer) region code by ISO 3166-1 (2 chars) for check project packages. If this field not send, then user region will be get from user ip\n",
                    "type": "string"
                },
                "signature": {
                    "description": "signature of request to verify that the data has not been changed. This field not required, BUT we're recommend send this field always\n",
                    "type": "string"
                },
                "url_fail": {
                    "description": "URL for redirect user after failed payment. This field can be send if it allowed in project admin panel\n",
                    "type": "string"
                },
                "url_notify": {
                    "description": "URL for payment notification request to project. This field can be send if it allowed in project admin panel\n",
                    "type": "string"
                },
                "url_success": {
                    "description": "URL for redirect user after successfully completed payment. This field can be send if it allowed in project admin panel\n",
                    "type": "string"
                },
                "url_verify": {
                    "description": "URL for payment data verification request to project. This field can be send if it allowed in project admin panel\n",
                    "type": "string"
                }
            }
        },
        "model.OrderSimple": {
            "type": "object",
            "properties": {
                "account": {
                    "description": "user account in project\n",
                    "type": "string"
                },
                "confirmed_at": {
                    "description": "date when project was notification about payment\n",
                    "type": "integer"
                },
                "created_at": {
                    "description": "date when payment created\n",
                    "type": "integer"
                },
                "fixed_package": {
                    "description": "object which contains main information about fixed package which was buy\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderFixedPackage"
                },
                "id": {
                    "description": "unique order identifier in Protocol One\n",
                    "type": "string"
                },
                "order_id": {
                    "description": "unique order identifier in project\n",
                    "type": "string"
                },
                "payer_data": {
                    "description": "data about payer, for example: country, city, ip and etc\n",
                    "type": "object",
                    "$ref": "#/definitions/model.PayerData"
                },
                "payment_method": {
                    "description": "object which contains main information about payment method\n",
                    "type": "object",
                    "$ref": "#/definitions/model.SimpleItem"
                },
                "payment_method_amount_income": {
                    "description": "object which contains main information about finances of payment system which received of payment system\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderSimpleAmountObject"
                },
                "payment_requisites": {
                    "description": "payer payment requisites\n",
                    "type": "object"
                },
                "project": {
                    "description": "object which contains main information about project\n",
                    "type": "object",
                    "$ref": "#/definitions/model.SimpleItem"
                },
                "project_amount_income": {
                    "description": "object which contains main information about accounting finances of project which received of project\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderSimpleAmountObject"
                },
                "project_amount_outcome": {
                    "description": "object which contains main information about accounting finances of project which will send to project\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderSimpleAmountObject"
                },
                "project_fee_amount": {
                    "description": "fee is charged with the project for the operation in merchant accounting currency\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderFee"
                },
                "ps_fee_amount": {
                    "description": "payment system fee for payment operation in payment system accounting currency\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderFeePaymentSystem"
                },
                "psp_fee": {
                    "description": "PSP (P1) fee amount in merchant accounting currency\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderFeePsp"
                },
                "status": {
                    "description": "object which contains main information about payment status\n",
                    "type": "object",
                    "$ref": "#/definitions/model.Status"
                },
                "to_payer_fee_amount": {
                    "description": "value of fee which added to payer amount in merchant accounting currency\n",
                    "type": "object",
                    "$ref": "#/definitions/model.OrderFee"
                },
                "vat_amount": {
                    "description": "vat amount in payment system accounting currency\n",
                    "type": "number"
                }
            }
        },
        "model.OrderSimpleAmountObject": {
            "type": "object",
            "properties": {
                "amount": {
                    "description": "amount value\n",
                    "type": "number"
                },
                "currency": {
                    "description": "object which contains main information about currency\n",
                    "type": "object",
                    "$ref": "#/definitions/model.SimpleCurrency"
                }
            }
        },
        "model.OrderUrl": {
            "type": "object",
            "properties": {
                "order_url": {
                    "description": "link for user to payment confirmation form\n",
                    "type": "string"
                }
            }
        },
        "model.PayerData": {
            "type": "object",
            "properties": {
                "city": {
                    "description": "payer city names, get from ip geo location\n",
                    "type": "object",
                    "$ref": "#/definitions/model.Name"
                },
                "country_code_a2": {
                    "description": "payer country code by ISO 3166-1 from create order request\n",
                    "type": "string"
                },
                "country_name": {
                    "description": "payer country names\n",
                    "type": "object",
                    "$ref": "#/definitions/model.Name"
                },
                "email": {
                    "description": "payer email from create order request\n",
                    "type": "string"
                },
                "ip": {
                    "description": "payer ip from create order request\n",
                    "type": "string"
                },
                "phone": {
                    "description": "payer phone from create order request\n",
                    "type": "string"
                },
                "subdivision": {
                    "description": "payer subdivision code by ISO-3166-2\n",
                    "type": "string"
                },
                "timezone": {
                    "description": "payer timezone name, get from ip geo location\n",
                    "type": "string"
                }
            }
        },
        "model.PaymentMethodParams": {
            "type": "object",
            "properties": {
                "external_id": {
                    "type": "string"
                },
                "handler": {
                    "type": "string"
                },
                "other": {
                    "type": "object"
                },
                "terminal": {
                    "type": "string"
                }
            }
        },
        "model.PaymentSystem": {
            "type": "object",
            "properties": {
                "accounting_currency": {
                    "type": "object",
                    "$ref": "#/definitions/model.Currency"
                },
                "accounting_period": {
                    "type": "string"
                },
                "country": {
                    "type": "object",
                    "$ref": "#/definitions/model.Country"
                },
                "created_at": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "is_active": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "model.Project": {
            "type": "object",
            "properties": {
                "callback_currency": {
                    "description": "full object of currency which described currency to send payment notification\n",
                    "type": "object",
                    "$ref": "#/definitions/model.Currency"
                },
                "callback_protocol": {
                    "description": "protocol identifier to send payment notification. Now available: default\n",
                    "type": "string"
                },
                "create_invoice_allowed_urls": {
                    "description": "list of urls rom which you can send a request to create an order\n",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "created_at": {
                    "description": "date of create project\n",
                    "type": "string"
                },
                "fixed_package": {
                    "description": "list of project's fixed packages\n",
                    "type": "object"
                },
                "id": {
                    "description": "unique project identifier\n",
                    "type": "string"
                },
                "is_active": {
                    "description": "is project active\n",
                    "type": "boolean"
                },
                "is_allow_dynamic_notify_urls": {
                    "description": "is allow send dynamic notification urls in request to create an order\n",
                    "type": "boolean"
                },
                "is_allow_dynamic_redirect_urls": {
                    "description": "is allow send dynamic user's redirect urls in request to create an order\n",
                    "type": "boolean"
                },
                "limits_currency": {
                    "description": "full object of currency which describes currency for amount's limit\n",
                    "type": "object",
                    "$ref": "#/definitions/model.Currency"
                },
                "max_payment_amount": {
                    "description": "maximal amount allowed for create order\n",
                    "type": "number"
                },
                "min_payment_amount": {
                    "description": "minimal amount allowed for create order\n",
                    "type": "number"
                },
                "name": {
                    "description": "project name\n",
                    "type": "string"
                },
                "notify_emails": {
                    "description": "list of emails to send notifications about successfully completed payment operations\n",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "only_fixed_amounts": {
                    "description": "is allow create order only with amounts from fixed packages list\n",
                    "type": "boolean"
                },
                "payment_methods": {
                    "description": "list of payment methods allowed to project\n",
                    "type": "object"
                },
                "secret_key": {
                    "description": "secret key for create check hash for request about order statuses changes\n",
                    "type": "string"
                },
                "send_notify_email": {
                    "description": "is allow send notifications about successfully completed payment operations to user's emails\n",
                    "type": "boolean"
                },
                "url_check_account": {
                    "description": "default url to send request for verification payment data to project\n",
                    "type": "string"
                },
                "url_process_payment": {
                    "description": "default url to send request for notification about successfully completed payment to project\n",
                    "type": "string"
                },
                "url_redirect_fail": {
                    "description": "default url to redirect user after failed payment\n",
                    "type": "string"
                },
                "url_redirect_success": {
                    "description": "default url to redirect user after successfully completed payment\n",
                    "type": "string"
                }
            }
        },
        "model.ProjectOrder": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "merchant": {
                    "type": "object",
                    "$ref": "#/definitions/model.Merchant"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "model.ProjectScalar": {
            "type": "object",
            "required": [
                "name",
                "callback_protocol"
            ],
            "properties": {
                "callback_currency": {
                    "description": "ISO 4217 numeric currency code to send payment notification\n",
                    "type": "integer"
                },
                "callback_protocol": {
                    "description": "protocol identifier to send payment notification. Now available: default\n",
                    "type": "string"
                },
                "create_invoice_allowed_urls": {
                    "description": "list of urls rom which you can send a request to create an order\n",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "fixed_package": {
                    "description": "list of project's fixed packages\n",
                    "type": "object"
                },
                "is_active": {
                    "description": "is project active\n",
                    "type": "boolean"
                },
                "is_allow_dynamic_notify_urls": {
                    "description": "is allow send dynamic notification urls in request to create an order\n",
                    "type": "boolean"
                },
                "is_allow_dynamic_redirect_urls": {
                    "description": "is allow send dynamic user's redirect urls in request to create an order\n",
                    "type": "boolean"
                },
                "limits_currency": {
                    "description": "ISO 4217 numeric currency code for limit amounts\n",
                    "type": "integer"
                },
                "max_payment_amount": {
                    "description": "maximal amount allowed for create order\n",
                    "type": "number"
                },
                "min_payment_amount": {
                    "description": "minimal amount allowed for create order\n",
                    "type": "number"
                },
                "name": {
                    "description": "project name\n",
                    "type": "string"
                },
                "notify_emails": {
                    "description": "list of emails to send notifications about successfully completed payment operations\n",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "only_fixed_amounts": {
                    "description": "is allow create order only with amounts from fixed packages list\n",
                    "type": "boolean"
                },
                "secret_key": {
                    "description": "secret key for create check hash for request about order statuses changes\n",
                    "type": "string"
                },
                "send_notify_email": {
                    "description": "is allow send notifications about successfully completed payment operations to user's emails\n",
                    "type": "boolean"
                },
                "url_check_account": {
                    "description": "default url to send request for verification payment data to project\n",
                    "type": "string"
                },
                "url_process_payment": {
                    "description": "default url to send request for notification about successfully completed payment to project\n",
                    "type": "string"
                },
                "url_redirect_fail": {
                    "description": "default url to redirect user after failed payment\n",
[...]
