* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: #e7e7e7;
    font-family: 'Roboto',
    sans-serif;
}

.pp_order_form {
    width: 360px;
    height: 550px;
    margin: 60px auto 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.10);
}

.pp_order_form.no-margin {
    margin: 0;
}

.pp_order_form .header {
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #E1E8EE;
}

.pp_order_form .body {
    height: 340px;
    padding: 15px 30px 20px;
}

.title {
    margin: 0;
    color: #5e6977;
    font-size: 18px;
}

.card_number,
.cvv-input input,
.month select,
.proceed-btn,
.year select,
.card_holder,
.email {
    height: 42px;
}

.card_number,
.month select,
.year select,
.card_holder,
.email {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}

.card_number,
.cvv-details,
.cvv-input input,
.month select,
.year select,
.card_holder,
.email {
    color: #86939e;
    opacity: .7;
}

.card_number,
.card_holder,
.email {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
}

.month select,
.year select {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background: url('/images/caret.png') no-repeat;
    background-position: 85% 50%;
}

.month select {
    float: left;
}

.year select {
    float: right;
}

.cvv-input input {
    width: 145px;
    float: left;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background: #fff;
}

.cvv-details {
    float: right;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}

.cvv-details p {
    margin-top: 6px;
}

.proceed-btn {
    cursor: pointer;
    width: 100%;
    border-color: transparent;
    border-radius: 6px;
    font-size: 16px;
}

.proceed-btn {
    margin-bottom: 10px;
    background: #7dc855;
}

.proceed-btn a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.order_details {
    position: relative;
    margin-bottom: 20px;
}
.order_details .item {
    display: flex;
}
.order_details .item.title {
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000;
}
.order_details .item .item__label,
.order_details .item .item__data {
    font-size: 14px;
}
.order_details .item .item__label {
    flex-basis: 35%;
}
.order_details .item .item__label label {
    color: #999999;
}
.order_details .item .item__data {
    flex-basis: 65%;
    text-align: right;
}