* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    background-color: #e7e7e7;
    font-family: 'Roboto',
    sans-serif;
}

/*******************************************************************/
.container {
    width: 560px;
    background-color: #fff;
}

.payment-methods {
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
}

.payment-methods .item {
    height: 84px;
    padding: 5px;
    margin: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fbfaf9;
    cursor: pointer;
    flex: 1 1 0;
}

.payment-methods .item.active,
.payment-methods .item:hover {
    background-color: #ffffff;
}

.payment-methods .item.active {
    box-shadow: inset 0 -5px #fc0;
    cursor: default;
}
.payment-methods .item.hidden {
    display: none;
}

.payment-methods .item .logo {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    background: none no-repeat transparent center center;;
    background-size: contain;
}

.payment-methods .item .title {
    text-align: center;
    color: #000000;
    font-size: 13px;
    overflow: hidden;
    padding: 4px;
}

.details {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.details .project-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.details .amount {
    line-height: normal;
    font-weight: 400;
    font-size: 32px;
}
.details .order-info {
    padding-top: 20px;
}
.details .order-info .order-info-container {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}
.order-info-container .title {
    color: rgba(0, 0, 0, 0.4);
    width: 60px;
    margin-right: 20px;
    font-size: 13px;
}
.order-info-container .data {
    color: #000000;
}

.payment-method-requisites {
    padding: 20px 40px;
    height: 236px;
}

.bank-card-from {
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 20px;
    width: 410px;
    margin: 0 auto;
    height: 100%;
}
.bank-card-from.no-border {
    border: none;
}
.bank-card-from .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.bank-card-from .row.big {
    height: 100%;
    align-items: center;
}
.bank-card-from .row:last-child {
    margin-bottom: 0;
}
.bank-card-from .expire,
.bank-card-from .cvv {
    display: flex;
    flex-direction: row;
}
.bank-card-from .expire div {
    display: flex;
    margin-left: 5px;
}
.bank-card-from .expire div.delimiter {
    align-items: center;
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
.bank-card-from .cvv {
    flex-grow: 1;
    justify-content: flex-end;
}
.button-container {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.button-container div {
    display: flex;
}
.button-container .email {
    flex-grow: 2;
}
.button-container .button {
    flex-grow: 2;
    justify-content: flex-end;
}
.proceed-btn {
    border-radius: 6px;
    padding: 0 15px;
    font-size: 15px;
    background-color: #ffdb4d;
    border: 0;
    cursor: pointer;
    text-decoration: none;
}
.proceed-btn,
.proceed-btn:active,
.proceed-btn:focus {
    outline: none;
}

input.input {
    height: 38px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    color: #86939e;
    opacity: .7;
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
    padding: 0 15px;
}
input.input.big {
    width: 100%;
}
input.input.xs {
    width: 75px;
}
input.input.small {
    width: 125px;
}