openapi: 3.0.1
info:
  title: PaySuper internal API specification
  description: PaySuper internal API specification
  license:
    name: GPL v3
    url: https://www.gnu.org/licenses/gpl-3.0
  version: "1.0"
servers:
  - url: https://api.pay.super.com
    description: Production server (uses live data)
  - url: https://p1payapi.tst.protocol.one
    description: Sandbox server (uses test data)
tags:
  - name: Admin user roles
  - name: Balance
  - name: Country
  - name: Dashboard
  - name: Key
  - name: Limits
  - name: Merchant user roles
  - name: Onboarding
  - name: Operating company
  - name: Order
    description: |
      You can create a payment order with details about your customer and sales option data.
  
      ### Statuses
  
      |Name|Description|
      |---|---|
      |`created`|It’s an initial state of the requested order but it is not processed in a payment system yet. The `created` order can become one of the statuses: `processed`, `canceled`, `rejected`.|
      |`processed`|The order is successfully processed in the payment system. The `processed` order can become `refunded` or `chargeback`.|
      |`rejected`|The order is rejected by a payment system with any reasons.|
      |`canceled`|The order is canceled by a user.|
      |`refunded`|The processed order is refunded by a merchant request.|
      |`chargeback`|The processed order is refunded by a payment system with any reasons.|
  
      > The Order object example:
  
      ```json
      {
        "id": "726d9e07-1dc8-4159-8d52-f95941066bc8",
        "transaction": "2978077",
        "object": "order",
        "status": "created",
        "description": "A summary for the purchase",
        "created_at": "2019-07-10T14:27:54.691Z",
        "canceled": false,
        "cancellation": null,
        "refunded": false,
        "receipt_email": "user.email@example.com",
        "receipt_phone": "",
        "receipt_number": "",
        "receipt_url": "https://dashboard.pay.super.com/receipt/purchase/efefc5d3-c2e2-415",
        "agreement_version": "",
        "agreement_accepted": false,
        "notify_sale": false,
        "notify_sale_email": "",
        "issuer": {
            "url": "https://domain.com",
            "embedded": false,
            "reference": "",
            "reference_type": "",
            "utm_source": "",
            "utm_medium": "",
            "utm_campaign": "",
            "referrer_host": "domain.com"
        },
        "amount": 595,
        "currency": "RUB",
        "user": {
            "id": "5dcf8b24b5a6990001bac2b6",
            "object": "user",
            "external_id": "0000000000001",
            "name": "User Name",
            "email": "user.email@example.com",
            "email_verified": true,
            "phone": "0639597531",
            "phone_verified": true,
            "ip": "79.137.163.2",
            "locale": "ru-RU",
            "address": {
              "country": "RU",
              "city": "Moscow",
              "postal_code": "127221",
              "state": "MOW"
            },
            "metadata": {
              "user.param1": "user.val1",
              "user.param2": "user.val2",
              "user.param3": "user.val3"
            },
            "notify_new_region": false,
            "notify_new_region_email": ""
        },
        "billing_address": {
            "country": "DE"
        },
        "tax": {
            "type": "vat",
            "rate": 0.19,
            "amount": 95,
            "currency": "RUB"
        },
        "method": {
            "title": "Bank card",
            "external_id": "BANKCARD",
            "payment_system_id": "5be2d0b4b0b30d0007383ce5",
            "saved": false,
            "card": {
              "first6": "400000",
              "last4": "0002",
              "masked": "400000...0002",
              "expiry_month": "11",
              "expiry_year": "2023",
              "brand": "VISA",
              "fingerprint": "$2a$04$9VRouYlBC.qMYQrLpmlXOeGbL2WFZDGGq/KdTeeHSfWkosgJgrWw2",
              "secure3d": true
            },
            "wallet": null,
            "crypto_currency": null,
            "refund_allowed": true
        },
        "items": null,
        "refund": null,
        "metadata": {
            "param1": "val1",
            "param2": "val2",
            "param3": "val3"
        },
        "original_amount": 500,
        "country": "DE",
        "type": "simple",
        "platform_id": "",
        "receipt_id": "efefc5d3-c2e2-4157-8789-4bfb7c1eec34",
        "virtual_currency_amount": 0,
        "is_buy_for_virtual_currency": false
      }
      ```
  
      ### The Order object:
  
      |Attribute|Type|Description|
      |---|---|---|
      |`id`|string|The unique identifier for the object.|
      |`transaction`|string|The unique identifier for the transaction in the payment system.|
      |`object`|string|The string representing the object’s type. Value: `order`.|
      |`status`|string|The current status of the order.|
      |`description`|string|An arbitrary string attached to the object. If this field was not sent, the PaySuper generates it automatically.|
      |`created_at`|string|The date and time in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) at which the order was created.|
      |`canceled_at`|string|The date and time in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) at which the order was cancelled.|
      |`canceled`|boolean|Has the value `true` if the current order was canceled.|
      |`cancellation`|object|The cancellation reason. Has the value `null` if the order is not canceled.|
      |`· code`|string|The cancellation reason code.|
      |`· reason`|string|The cancellation description.|
      |`refunded`|boolean|Has the value `true` if the current order was refunded.|
      |`refunded_at`|string|The date and time in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) at which the order was refunded.|
      |`receipt_email`|string|The customer's email for receipt information.|
      |`receipt_phone`|string|The customer's phone for receipt information.|
      |`receipt_number`|string|The unique identifier for a receipt. Has a non-empty value if the order has `refunded` status.|
      |`receipt_url`|string|The URL in PaySuper service for online access to the receipt.|
      |`agreement_version`|string|The EULA agreement accepted by payment.|
      |`agreement_accepted`|boolean|Has the value `true` if the agreement was accepted.|
      |`notify_sale`|boolean|Has the value `true` if a user confirmed to be informed about feature sales or discounts.|
      |`notify_sale_email`|string|The customer's email for sales or discounts.|
      |`issuer`|object|Details about an issuer.|
      |`· url`|string|The referer URL.|
      |`· embedded`|boolean|Has the value `true` if the PaySuper form was embedded to collect payment.|
      |`· reference`|string|The unique identifier of an entity linked to the order, for instance `paylink ID`.|
      |`· reference_type`|string|The type of an entity linked to the order, for instance `paylink`.|
      |`· utm_source`|string|The UTM-tag of the advertising system, for example: Bing Ads, Google Adwords.|
      |`· utm_medium`|string|The UTM-tag of the traffic type, e.g.: cpc, cpm, email newsletter.|
      |`· utm_campaign`|string|The UTM-tag of the advertising campaign, for example: Online games, Simulation game.|
      |`· referrer_host`|string|The host of the referrer URL.|
      |`amount`|float|The total amount for the order. A positive float with two decimal points (e.g., 1.00 to charge $1.00).|
      |`currency`|string|The currency for the order. Three-letter Currency Code ISO 4217, in uppercase.|
      |`user`|object|Details about a customer.|
      |`· id`|string|The user unique identifier on the PaySuper side.|
      |`· object`|string|The string representing the object’s type. Value: `user`.|
      |`· external_id`|string|The user unique identifier in the merchant project.|
      |`· name`|string|The user's name.|
      |`· email`|string|The user's email.|
      |`· email_verified`|boolean|Whether the user’s email address has been verified in the merchant project.|
      |`· phone`|string|The user’s phone number.|
      |`· phone_verified`|boolean|Whether the user’s phone number has been verified in the merchant project.|
      |`· ip`|string|	The user’s IP address.|
      |`· locale`|string|The user’s locale name. Four-letter language code by ISO 639, for instance en-US.|
      |`· address`|object|Details about a user's address.|
      |`·· country`|string|The user’s country. Two-letter language code by ISO 3166-1, in uppercase.|
      |`·· city`|string|The user’s city.|
      |`·· postal_code`|string|The user’s postal code.|
      |`·· state`|string|The user’s state code by ISO 3166-2.|
      |`· metadata`|string|A key-value description that you can attach to the user object. It can be useful for storing additional information about your customer's payment. The key and value have the string type.|
      |`· notify_new_region`|boolean|Has the value `true` if a user confirmed to receive the PaySuper newsletter about the beginning of payment acceptance in new regions.|
      |`· notify_new_region_email`|string|The customer's email for a newsletter about the beginning of payment acceptance in new regions.|
      |`billing_address`||Details about a user's billing addres. Has a non-empty value if the user was asked to fill it on a payment form. For all countries has a `country` value and for the USA has `country`, `state` and `zip`.|
      |`· country`|string|The user's country. Two-letter language code by ISO 3166-1, in uppercase.|
      |`tax`|object|Details about a tax.|
      |`· type`|string|The tax type (Sales tax for USA, VAT for EU and Russia).|
      |`· rate`|float|The current user's location taxes. A positive float with two decimal points.|
      |`· amount`|float|The tax amount. A positive float with two decimal points (e.g., 1.00 to charge $1.00).|
      |`· currency`|string|The currency for the tax. Three-letter Currency Code ISO 4217, in uppercase.|
      |`method`||Details about a payment method.|
      |`· title`|string|The human readable method name.|
      |`· external_id`|string|The unique identifier of the payment method.|
      |`· payment_system_id`|string|The unique identifier of payment system on the PaySuper side.|
      |`· saved`|boolean|Has a value `true` if a payment method was saved by a user for a future usage.|
      |`· card`|object|Details about a user's card.|
      |`·· first6`|string|The first 6 digits of the card. Available only for a card method.|
      |`·· last4`|string|The last 4 digits of the card. Available only for a card method.|
      |`·· masked`|string|The mask for a user's card. Available only for a card method.|
      |`·· expiry_month`|string|The validity month of the card. Available only for a card method.|
      |`·· expiry_year`|string|The validity year of the card. Available only for a card method.|
      |`·· brand`|string|The brand of the card issuer. Available only for a card method.|
      |`·· fingerprint`|string|The internal fingerprint for given card. Available only for a card method.|
      |`·· secure3d`|string|Has a value `true` if 3D-secure was used during payment. Available only for a card method.|
      |`· wallet`|object|The name of the wallet. Available only for an integrated wallet payment systems.|
      |`·· brand`|string|The name of the wallet.|
      |`·· account`|string|The customer identity in the wallet.|
      |`· crypto_currency`|object|The name of the crypto currency. Available only for a crypto currency.|
      |`·· brand`|string|The name of the crypto currency.|
      |`·· address`|string|The customer's address in the crypto currency.|
      |`· refund_allowed`|boolean|Has a value `true` if a refund is allowed.|
      |`items`|object[]|An array of OrderItem objects associated with current Order.|
      |`· id`|string|The unique identifier of the object.|
      |`· sku`|string|The stock keeping unit.|
      |`· name`|string|A localized name of the object.|
      |`· description`|string|A localized description of the object.|
      |`· images`|string[]|Image urls associated with the object.|
      |`· metadata`|object|A set of key-value pairs that attached to an object on creating a product.|
      |`· code`|string|An activation code of the object. Can be ommited if the order is not processed or type of the order does not equal `key`.|
      |`· platform`|string|A platform for an activation code. Can be ommited if the order is not processed or type of the order does not equal `key`.|
      |`refund`|object|Details about a refund.|
      |`· amount`|float|The refund amount. A positive float with two decimal points (e.g., 1.00 to charge $1.00).|
      |`· currency`|string|The currency for the tax. Three-letter Currency Code ISO 4217, in uppercase.|
      |`· reason`|string|The refund reason.|
      |`· code`|string|The PaySuper internal identity for the refund reason.|
      |`· receipt_number`|string|The unique identifier of the refund receipt.|
      |`· receipt_url`|string|The URL in PaySuper service for online access to given refund receipt.|
      |`metadata`|object|A set of key-value pairs of description that you can attach to the order object. It can be useful for storing additional information about your customer payment..|
      |`original_amount`|float|The order amount excluding any taxes and commissions.|
      |`country`|string|Two-letter language code by ISO 3166-1, in uppercase.|
      |`type`|string|The order type. It depends on your sales option (Game Keys, Virtual Items, the simple checkout). For products created as Game Keys use the `key` type, as Virtual Items - the `product` type, for a simple checkout - the `simple` type. **Enum values:** key, products, simple.|
      |`platform_id`|string|The default platform identifier for which customer buys the in-game key. This field used only for a payment type `key`. **Enum values:** steam, gog, uplay, origin, psn, xbox, nintendo, itch, egs.|
      |`receipt_id`|string|The receipt unique identifier.|
      |`virtual_currency_amount`|float|The virtual currancy amount for the order.|
      |`is_buy_for_virtual_currency`|boolean|Has a value `true` if the order created for a virtual currency.|
  - name: Report file
  - name: Royalty reports
  - name: Payment links
  - name: Payment method
  - name: Payment order
  - name: Payouts
  - name: Pricing
  - name: Price group
  - name: Project
  - name: Product
  - name: Products
  - name: Public
  - name: Saved card
  - name: Token
    description: |
        A token is an encrypted string that represents certain details of your customer (such as the user ID, email and others), a game and purchase parameters.
  - name: Tax
  - name: VAT reports
  - name: User
  - name: User profile
paths:
  /admin/api/v1/balance:
    get:
      tags:
        - Balance
      summary: Get balance for current user's merchant
      description: Get balance for current user's merchant
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/merchant_balance'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/balance/{merchant_id}:
    get:
      tags:
        - Balance
      summary: Get balance for merchant with id passed in url
      description: Get balance for merchant with id passed in url
      parameters:
        - name: merchant_id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/merchant_balance'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/keys/:key_id:
    get:
      tags:
        - Key
        - Onboarding
      summary: Get info about key by ID
      parameters:
        - name: key_id
          in: path
          description: "Key ID"
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'
  /admin/api/v1/key-products:
    get:
      tags:
        - Product
      summary: "Get list of key products"
      parameters:
        - name: project_id
          in: query
          description: "Project ID"
          required: false
          schema:
            type: string
        - name: "name"
          in: query
          description: "Filter by name"
          required: false
          schema:
            type: string
        - name: "offset"
          in: query
          description: "Offset list"
          required: false
          schema:
            type: number
        - name: "limit"
          in: query
          description: "Limit list count"
          required: false
          schema:
            type: number
      responses:
        200:
          description: Return list of key products for user
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        500:
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Product
      summary: "Create new key product"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKeyProduct'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        500:
          $ref: '#/components/responses/InternalError'
  /admin/api/v1/key-products/:key_product_id/publish:
    post:
      tags:
        - Product
      summary: Publishes product
      parameters:
        - name: key_product_id
          in: path
          description: "Key Product ID"
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'
  /admin/api/v1/key-products/:key_product_id/unpublish:
    post:
      tags:
        - Product
      summary: Set key product inactive
      parameters:
        - name: key_product_id
          in: path
          description: "Key Product ID"
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'
  /admin/api/v1/key-products/:key_product_id:
    delete:
      tags:
        - Product
      summary: "Change product"
      parameters:
        - name: key_product_id
          in: path
          description: "Key Product ID"
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'
    put:
      tags:
        - Product
      summary: "Change product"
      parameters:
        - name: key_product_id
          in: path
          description: "Key Product ID"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKeyProduct'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'
    get:
      tags:
        - product
      summary: "Get product by id"
      parameters:
        - name: key_product_id
          in: path
          description: "Key Product ID"
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'
  /admin/api/v1/key-products/:key_product_id/platforms/:platform_id/count:
    get:
      tags:
        - Key
        - Onboarding
      summary: Gets count of keys for specified platform and product
      parameters:
        - $ref: '#/components/parameters/KeyProduct'
        - $ref: '#/components/parameters/Platform'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeysCountResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'
  /admin/api/v1/key-products/:key_product_id/platforms/:platform_id/file:
    post:
      tags:
        - Key
        - Onboarding
      summary: Send file with keys to process
      parameters:
        - $ref: '#/components/parameters/KeyProduct'
        - $ref: '#/components/parameters/Platform'
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeysProcessed'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'
  /admin/api/v1/merchants:
    patch:
      tags:
        - Onboarding
      summary: Change merchant information
      description: Change merchant agreement information
      parameters:
        - name: id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      requestBody:
        description: data for change
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Merchant.ChangeAgreementDataRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/merchants/{id}/change-status:
    put:
      tags:
        - Onboarding
      summary: Change merchant status
      description: Change merchant status
      parameters:
        - name: id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      requestBody:
        description: Data required to change status
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Merchant.ChangeStatus'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/merchants/manual_payout/enable:
    put:
      tags:
        - Onboarding
      summary: Enable merchant manual payouts
      description: Enable merchant manual payouts
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/manual_payout/disable:
    put:
      tags:
        - Onboarding
      summary: Disable merchant manual payouts
      description: Disable merchant manual payouts
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/notifications:
    get:
      tags:
        - Onboarding
      summary: Get list of notifications to merchant
      description: Get list of notifications to merchant
      parameters:
        - name: user
          in: query
          description: user who sent notification
          schema:
            type: string
        - name: is_system
          in: query
          description: 'flag to filter return notification: 0 - return only notification;
          1 - return only history'
          schema:
            type: integer
        - name: limit
          in: query
          description: limit of returning records
          schema:
            type: integer
        - name: offset
          in: query
          description: offset of returning records
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/onboarding.Merchant.Notifications'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/notifications/{notification_id}:
    get:
      tags:
        - Onboarding
      summary: Get notification by identifier
      description: Get notification by identifier
      parameters:
        - name: notification_id
          in: path
          description: notification identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant.Notification'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/notifications/{notification_id}/mark-as-read:
    put:
      tags:
        - Onboarding
      summary: Mark notification as readed
      description: Mark notification as readed
      parameters:
        - name: notification_id
          in: path
          description: notification identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant.Notification'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/{id}/agreement-type:
    patch:
      tags:
        - Onboarding
      summary: Set merchant agreement type
      description: Set merchant agreement type
      parameters:
        - name: id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      requestBody:
        description: data to change agreement type
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Merchant.ChangeAgreementType.Request'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/merchants/agreement:
    get:
      tags:
        - Onboarding
      summary: Generate agreement
      description: Generate agreement for merchant and return data about printable
        agreement
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant.PrintableAgreementData.Response'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/agreement/document:
    get:
      tags:
        - Onboarding
      summary: Download merchant agreement
      description: Download merchant agreement
      responses:
        200:
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        400:
          description: Invalid request data
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/agreement/signature:
    put:
      tags:
        - Onboarding
      summary: Get data to sign agreement
      description: Get data to sign license agreement with hellosign api
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.merchant.signatureResponse'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/company:
    put:
      tags:
        - Onboarding
      summary: Set company information
      description: Set company information
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Company'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/merchants/contacts:
    put:
      tags:
        - Onboarding
      summary: Set contacts information
      description: Set contacts information
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Contacts'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/merchants/banking:
    put:
      tags:
        - Onboarding
      summary: Set banking information
      description: Set banking information
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Banking'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/merchants/tariffs:
    get:
      tags:
        - Onboarding
      summary: Get tariff rates
      description: Get tariff rates
      parameters:
        - name: region
          in: query
          description: 'merchant home region name. possible values: asia, europe, latin_america,
            russia_and_cis, worldwide'
          required: true
          schema:
            type: string
        - name: payer_region
          in: query
          description: 'payer possible region name. possible values: asia, europe, latin_america,
            russia_and_cis, worldwide'
          schema:
            type: string
        - name: min_amount
          in: query
          description: payment min amount
          schema:
            type: number
        - name: max_amount
          in: query
          description: payment max amount
          schema:
            type: number
        - name: merchant_operations_type
          in: query
          description: merchant operations type. possible values are low-risk, high-risk
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/onboarding.Tariff'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
    post:
      tags:
        - Onboarding
      summary: Set tariff rates to merchant
      description: Set tariff rates to merchant
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Tariff.Set.Request'
        required: true
      responses:
        200:
          description: OK
          content: {}
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/merchants/status:
    get:
      tags:
        - Onboarding
      summary: Get data fill status
      description: Get data fill status
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.merchant.fillStatus'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/dashboard/main:
    get:
      tags:
        - Dashboard
      summary: Get main reports data for dashboard
      description: 'Get main reports dashboard block data, ie. next reports: gross
        revenue, total transactions, VAT, ARPU'
      parameters:
        - name: id
          in: path
          description: merchant unique identifier
          required: true
          schema:
            type: string
        - name: period
          in: query
          description: 'period name. now possible next values: current_month, previous_month,
          current_quarter, previous_quarter, current_year, previous_year'
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard.main_reports'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/dashboard/revenue_dynamics:
    get:
      tags:
        - Dashboard
      summary: Get revenue dynamic report for dashboard
      description: Get revenue dynamic report for dashboard
      parameters:
        - name: id
          in: path
          description: merchant unique identifier
          required: true
          schema:
            type: string
        - name: period
          in: query
          description: 'period name. now possible next values: current_month, previous_month,
          current_quarter, previous_quarter, current_year, previous_year'
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard.revenue_dynamics'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/dashboard/base:
    get:
      tags:
        - Dashboard
      summary: Get base reports data for dashboard
      description: 'Get base reports dashboard block data, ie. next reports: revenue
        by country, sales today, sources'
      parameters:
        - name: id
          in: path
          description: merchant unique identifier
          required: true
          schema:
            type: string
        - name: period
          in: query
          description: 'period name. now possible next values: current_day, previous_day,
          current_week, previous_week, current_month, previous_month, current_quarter,
          previous_quarter, current_year, previous_year'
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboard.base'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/invite:
    post:
      tags:
        - Merchant user roles
      summary: Send invitation for merchant user
      description: Send invitation to add user as merchant user
      requestBody:
        description: JSON request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserMerchant'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUserResponse'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: body
  /admin/api/v1/merchants/users/resend:
    post:
      tags:
        - Merchant user roles
      summary: Resend invitation for merchant user
      description: Resend invitation to add user as merchant user
      requestBody:
        description: JSON request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendInviteMerchant'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseWithStatus'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: body
  /admin/api/v1/merchants/users:
    get:
      tags:
        - Merchant user roles
      summary: List of merchant users
      description: List of merchant users
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/users/roles/{role_id}:
    get:
      tags:
        - Merchant user roles
      summary: Get merchant user role
      description: Get merchant user role
      parameters:
        - name: role_id
          in: path
          description: User role identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRoleResponse'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
    put:
      tags:
        - Merchant user roles
      summary: Update merchant user role
      description: Update merchant user role
      parameters:
        - name: role_id
          in: path
          description: User role identifier
          required: true
          schema:
            type: string
      requestBody:
        description: JSON request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRoleRequest'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseWithStatus'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: body
    delete:
      tags:
        - Merchant user roles
      summary: Delete merchant user
      description: Delete merchant user
      parameters:
        - name: role_id
          in: path
          description: User role identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponseWithStatus'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/roles:
    get:
      tags:
        - Merchant user roles
      summary: List of merchant role types
      description: List of merchant role types
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoleType'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/order:
    get:
      tags:
        - Order
      summary: Get orders
      description: Get orders list
      parameters:
        - name: id
          in: query
          description: order unique identifier
          schema:
            type: string
        - name: project[]
          in: query
          description: query array of list of projects to get orders filtered by they
          schema:
            type: string
        - name: payment_method[]
          in: query
          description: query array of list of payment methods to get orders filtered
            by they
          schema:
            type: string
        - name: country[]
          in: query
          description: query array of list of payer countries to get orders filtered
            by they
          schema:
            type: string
        - name: status[]
          in: query
          description: query array of list of orders statuses to get orders filtered
            by they
          schema:
            type: integer
        - name: account
          in: query
          description: payer account on the any side of payment process. for example
            it may be account in project, account in payment system, payer email and
            etc
          schema:
            type: string
        - name: pm_date_from
          in: query
          description: start date when payment was closed to get orders filtered by
            they
          schema:
            type: integer
        - name: pm_date_to
          in: query
          description: end date when payment was closed to get orders filtered by they
          schema:
            type: integer
        - name: project_date_from
          in: query
          description: start date when payment was created to get orders filtered by
            they
          schema:
            type: integer
        - name: project_date_to
          in: query
          description: end date when payment was closed in project to get orders filtered
            by they
          schema:
            type: integer
        - name: limit
          in: query
          description: maximum number of returning orders. default value is 100
          schema:
            type: integer
        - name: offset
          in: query
          description: offset from which you want to return the list of orders. default
            value is 0
          schema:
            type: integer
        - name: sort[]
          in: query
          description: query array of fields list for sorting
          schema:
            type: string
        - name: quick_search
          in: query
          description: multiple field search string - order unique identifier, user
            external identifier, project order identifier, project name, payment method
            name
          schema:
            type: string
        - name: merchant
          in: query
          description: query array of merchant identifier list
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order.list.public'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/order/{id}:
    get:
      tags:
        - Order
      summary: Get order data
      description: Get full object with order data
      parameters:
        - name: id
          in: path
          description: Order unique identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order.public'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/order/{order_id}/refunds:
    get:
      tags:
        - Order
      summary: Get list of refunds to order
      description: Get list of refunds to order
      parameters:
        - name: order_id
          in: path
          description: order identifier
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: count of records to need to return
          required: true
          schema:
            type: string
        - name: offset
          in: query
          description: number of record which must be first in listing
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/order.Refund'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
    post:
      tags:
        - Order
      summary: Create new refund to order
      description: Create new refund to order
      parameters:
        - name: order_id
          in: path
          description: order identifier
          required: true
          schema:
            type: string
      requestBody:
        description: refund data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order.Refund.CreateRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order.Refund'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/order/{order_id}/refunds/{refund_id}:
    get:
      tags:
        - Order
      summary: Get refund data
      description: Get refund data
      parameters:
        - name: order_id
          in: path
          description: order identifier
          required: true
          schema:
            type: string
        - name: refund_id
          in: path
          description: refund identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order.Refund'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/order/{order_id}/replace_code:
    put:
      tags:
        - Order
      summary: Replaces activation code in order
      description: Replaces activation code in order
      parameters:
        - name: order_id
          in: path
          description: order identifier
          required: true
          schema:
            type: string
      requestBody:
        description: Order change request
        content:
          application/json:
            schema:
              type: object
              properties:
                key_product_id:
                  type: string
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order.public'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/paylinks:
    get:
      tags:
        - Payment links
      summary: Get a list of payment links for current authenticated merchant
      description: Get a list of payment links for current authenticated merchant
      parameters:
        - name: limit
          in: query
          description: maximum number of returning orders. default value is 100
          schema:
            type: integer
        - name: offset
          in: query
          description: offset from which you want to return the list of orders. default
            value is 0
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/grpcPaylinksPaginate'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
    post:
      tags:
        - Payment links
      summary: Create payment link with json request
      description: Create payment link use POST JSON request
      requestBody:
        description: Payment link create data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaylinkRequest'
        required: true
      responses:
        200:
          description: Object which contain created payment link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paylinkPaylink'
        400:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/paylinks/{id}:
    get:
      tags:
        - Payment links
      summary: Get a payment link by id for current authenticated merchant
      description: Get a payment link by id for current authenticated merchant
      parameters:
        - name: id
          in: path
          description: Payment link identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paylinkPaylink'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
    put:
      tags:
        - Payment links
      summary: Create payment link with json request
      description: Create payment link use POST JSON request
      parameters:
        - name: id
          in: path
          description: Payment link identifier
          required: true
          schema:
            type: string
      requestBody:
        description: Payment link create data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaylinkRequest'
        required: true
      responses:
        200:
          description: Object which contain created payment link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paylinkPaylink'
        400:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
    delete:
      tags:
        - Payment links
      summary: Delete a payment link by id for current authenticated merchant
      description: Delete a payment link by id for current authenticated merchant
      parameters:
        - name: id
          in: path
          description: Payment link identifier
          required: true
          schema:
            type: string
      responses:
        204:
          description: OK
          content: {}
        400:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/paylinks/{id}/url:
    get:
      tags:
        - Payment links
      summary: Get a payment link url by id for current authenticated merchant
      description: Get a payment link url by id for current authenticated merchant
      parameters:
        - name: id
          in: path
          description: Payment link identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/paylinks/{id}/dashboard/country:
    get:
      tags:
        - Payment links
      summary: Get a grouping stat by country for a payment link by its id for current
        authenticated merchant
      description: Get a grouping stat by country for a payment link by its id for
        current authenticated merchant
      parameters:
        - name: id
          in: path
          description: User role identifier
          required: true
          schema:
            type: string
        - name: period_from
          in: query
          description: period start date in unix timestamp format
          schema:
            type: number
        - name: period_to
          in: query
          description: period end date in unix timestamp format
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paylinkGroupStatCommon'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/paylinks/{id}/dashboard/referrer:
    get:
      tags:
        - Payment links
      summary: Get a grouping stat by referrer for a payment link by its id for current
        authenticated merchant
      description: Get a grouping stat by referrer for a payment link by its id for
        current authenticated merchant
      parameters:
        - name: id
          in: path
          description: Payment link identifier
          required: true
          schema:
            type: string
        - name: period_from
          in: query
          description: period start date in unix timestamp format
          schema:
            type: number
        - name: period_to
          in: query
          description: period end date in unix timestamp format
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paylinkGroupStatCommon'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/paylinks/{id}/dashboard/date:
    get:
      tags:
        - Payment links
      summary: Get a grouping stat by date for a payment link by its id for current
        authenticated merchant
      description: Get a grouping stat by date for a payment link by its id for current
        authenticated merchant
      parameters:
        - name: id
          in: path
          description: Payment link identifier
          required: true
          schema:
            type: string
        - name: period_from
          in: query
          description: period start date in unix timestamp format
          schema:
            type: number
        - name: period_to
          in: query
          description: period end date in unix timestamp format
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paylinkGroupStatCommon'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/paylinks/{id}/dashboard/utm:
    get:
      tags:
        - Payment links
      summary: Get a grouping stat by utm for a payment link by its id for current
        authenticated merchant
      description: Get a grouping stat by utm for a payment link by its id for current
        authenticated merchant
      parameters:
        - name: id
          in: path
          description: Payment link identifier
          required: true
          schema:
            type: string
        - name: period_from
          in: query
          description: period start date in unix timestamp format
          schema:
            type: number
        - name: period_to
          in: query
          description: period end date in unix timestamp format
          schema:
            type: number
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/paylinkGroupStatCommon'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/payment_min_limit_system:
    get:
      tags:
        - Limits
      summary: Get list of payment minimum limits system
      description: Get list of payment minimum limits system
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_min_limit_system_list'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
    post:
      tags:
        - Limits
      summary: Set payment minimum limits system for currency
      description: Set payment minimum limits system for currency
      requestBody:
        description: minimum limits system for currency
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/payment_min_limit_system'
        required: false
      responses:
        204:
          description: OK
          content: {}
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: body
  /admin/api/v1/payment_costs/channel/system/all:
    get:
      tags:
        - Onboarding
      summary: Get all system costs for payments
      description: Get all system costs for payments
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.cost.payment.system.all'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/payment_costs/channel/merchant/{id}/all:
    get:
      tags:
        - Onboarding
      summary: Get all merchant costs for payments operations
      parameters:
        - name: id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.cost.payment.merchant.all'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
[...]
