openapi: 3.0.0
info:
  description: Pay Super Key Products api
  version: 1.0.0
  title: Pay Super key distribution
  contact:
    email: support@protocol.one
tags:
  - name: product

servers:
  - description: Master test server
    url: https://p1payapi.tst.protocol.one

paths:
  /admin/api/v1/key-products/:key_product_id/platforms/:platform_id:
    delete:
      tags:
        - product
        - platform
      summary: Remove platform from product
      parameters:
        - name: key_product_id
          in: path
          description: "Key Product ID"
          required: true
          schema:
            type: string
        - name: platform_id
          in: path
          description: "Platform id"
          required: true
          example: steam
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'

  /admin/api/v1/key-products/:key_product_id/platforms:
    get:
      tags:
        - product
        - platform
      summary: Get platforms with prices for specified key product
      parameters:
        - name: key_product_id
          in: path
          description: "Key Product ID"
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KeyPlatform'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - product
        - platform
      summary: Change prices for specified platform and key product
      parameters:
        - name: key_product_id
          in: path
          description: "Key Product ID"
          required: true
          schema:
            type: string
        - name: platform_id
          in: path
          description: "Platform id"
          required: true
          example: steam
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  $ref: '#/components/schemas/KeyPlatform'
      responses:
        200:
          description: OK
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'

  /admin/api/v1/key-products/:key_product_id/publish:
    post:
      tags:
        - product
      summary: Publishes product
      parameters:
        - name: key_product_id
          in: path
          description: "Key Product ID"
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'

  /admin/api/v1/key-products:
    get:
      tags:
        - product
      summary: "Get list of key products"
      parameters:
        - name: project_id
          in: query
          description: "Project ID"
          required: false
          schema:
            type: string
        - name: "name"
          in: query
          description: "Filter by name"
          required: false
          schema:
            type: string
        - name: "offset"
          in: query
          description: "Offset list"
          required: false
          schema:
            type: number
        - name: "limit"
          in: query
          description: "Limit list count"
          required: false
          schema:
            type: number
      responses:
        200:
          description: Return list of key products for user
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        500:
          $ref: '#/components/responses/InternalError'

    post:
      tags:
        - product
      summary: "Create new key product"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKeyProduct'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        500:
          $ref: '#/components/responses/InternalError'

  /admin/api/v1/key-products/:key_product_id:
    delete:
      tags:
        - product
      summary: "Change product"
      parameters:
        - name: key_product_id
          in: path
          description: "Key Product ID"
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'

    put:
      tags:
        - product
      summary: "Change product"
      parameters:
        - name: key_product_id
          in: path
          description: "Key Product ID"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKeyProduct'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'

    get:
      tags:
        - product
      summary: "Get product by id"
      parameters:
        - name: key_product_id
          in: path
          description: "Key Product ID"
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyProduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'

  /admin/api/v1/platforms:
    get:
      tags:
        - product
      summary: "Get available platform list"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  platforms:
                    type: array
                    items:
                      $ref: '#/components/schemas/Platform'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        500:
          $ref: '#/components/responses/InternalError'

  /api/v1/key-products/:key_product_id:
    get:
      tags:
        - product
      summary: "Get product with platforms list and their prices"
      parameters:
        - name: key_product_id
          in: path
          description: "Key Product ID"
          required: true
          schema:
            type: string
        - name: country
          in: query
          description: ISO code of country for that price shoul be calculated
          required: false
          example: RUS
          schema:
            type: string
        - name: currency
          in: query
          description: Currency of price that should be calculated
          example: RUB
          required: false
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyProductInfo'
        400:
          $ref: '#/components/responses/BadRequest'
        500:
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal Server Error
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 409
            message: "Resource with same unique id already exists"
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 422
            message: "Fields required: 'title, description'"
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message

    KeyPlatform:
      type: object
      properties:
        id:
          type: string
          example: gog
        name:
          type: string
          example: Good old games.com
        prices:
          type: array
          items:
            $ref: '#/components/schemas/KeyProductPrice'

    KeyProductPrice:
      type: object
      properties:
        region:
          type: string
        amount:
          type: number
          format: float
          example: 29.99
        currency:
          type: string
          example: EUR
          enum:
            - EUR
            - USD
            - RUB

    Platform:
      type: object
      properties:
        id:
          type: string
          example:
            steam
        name:
          type: string
          example:
            Steam

    UpdateKeyProduct:
      type: object
      description: Model for updating or creating key product
      properties:
        name:
          type: object
          additionalProperties:
            type: string
          description: name of product
          example:
            en: Best Game Ever
            ru: Лучшая игра
        object:
          type: string
        project_id:
          type: string
          description: Id of project
        description:
          type: object
          additionalProperties:
            type: string
          description: description of description
          example:
            en: Description here
            ru: Описание тут
        long_description:
          type: object
          additionalProperties:
            type: string
          description: long description of description
          example:
            en: Description here
            ru: Описание тут
        sku:
          type: string
          description: sku of product (unique in project)
        images:
          type: array
          items:
            type: string
        url:
          type: string
        enabled:
          type: boolean
        default_currency:
          type: string
          example: USD

    KeyProductInfo:
      type: object
      properties:
        id:
          type: string
          description: id of product
        project_id:
          type: string
          description: Id of project
        name:
          type: string
          description: Localized name of product
        description:
          type: string
          description: Localized description of description
        long_description:
          type: string
          description: Localized long description of description
        images:
          type: array
          items:
            type: string
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/KeyPlatformInfo'

    KeyPlatformInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        price:
          type: object
          properties:
            amount:
              type: number
            currency:
              type: string
              example: USD
            region:
              type: string
              example: USD
            is_fallback:
              type: boolean
              description: Flag indicates that price was calculated in default currency instead of specified

    KeyProduct:
      type: object
      properties:
        id:
          type: string
          description: id of product
        merchant_id:
          type: string
          description: Id of merchant
        project_id:
          type: string
          description: Id of project
        name:
          type: object
          additionalProperties:
            type: string
          description: name of product
        description:
          type: object
          additionalProperties:
            type: string
          description: description of description
        long_description:
          type: object
          additionalProperties:
            type: string
          description: long description of description
        created_at:
          type: string
          format: 'date-time'
        updated_at:
          type: string
          format: 'date-time'
        sku:
          type: string
          description: sku of product
        images:
          type: array
          items:
            type: string
        url:
          type: string
        enabled:
          type: boolean
        default_currency:
          type: string
          example: USD
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/KeyPlatform'
        published_at:
          description: Date and time when product has been published. May be null
          type: string
          format: 'date-time'