openapi: 3.0.0
info:
  description: Pay Super Key key distribution api
  version: 1.0.0
  title: Pay Super key distribution
  contact:
    email: support@protocol.one
tags:
  - name: key
  - name: onboarding
  - name: public

servers:
  - description: Master test server
    url: https://p1payapi.tst.protocol.one

paths:
  /admin/api/v1/keys/:key_id:
    get:
      tags:
        - key
        - onboarding
      summary: Get info about key by ID
      parameters:
        - name: key_id
          in: path
          description: "Key ID"
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'

  /admin/api/v1/key-products/:key_product_id/platforms/:platform_id/keys/count:
    get:
      tags:
        - key
        - onboarding
      summary: Gets count of keys for specified platform and product
      parameters:
        - $ref: '#/components/parameters/KeyProduct'
        - $ref: '#/components/parameters/Platform'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeysCountResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'

  /admin/api/v1/key-products/:key_product_id/platforms/:platform_id/file:
    post:
      tags:
        - key
        - onboarding
      summary: Send file with keys to process
      parameters:
        - $ref: '#/components/parameters/KeyProduct'
        - $ref: '#/components/parameters/Platform'
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeysProcessed'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    KeyProduct:
      name: key_product_id
      in: path
      description: "Key Product ID"
      required: true
      schema:
        type: string

    Platform:
      name: platform_id
      in: path
      description: "Platform id"
      required: true
      example: steam
      schema:
        type: string

  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal Server Error
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 409
            message: "Resource with same unique id already exists"
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 422
            message: "Fields required: 'title, description'"
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message

    Key:
      type: object
      properties:
        id:
          type: string
          description: Internal id of key in database
        code:
          type: string
          description: Code for activation
          example: AAAA-BBBB-CCCC-XXXX
        key_product_id:
          type: string
          description: Id of key product
        platform_id:
          type: string
          description: Id of platform
          example: steam
        order_id:
          type: string
          description: Id of order when redeemed, can be null
        created_at:
          type: string
          description: Date and time when key have been added
          format: 'date-time'
        redeemed_at:
          type: string
          description: Date and time when key have been redemed
          format: 'date-time'
        reserved_to:
          type: string
          description: Date and time before key is not available for reserving
          format: 'date-time'


    KeysCountResponse:
      type: object
      properties:
        count:
          type: integer
          description: Total count of keys for product and platform

    KeysProcessed:
      type: object
      properties:
        total_count:
          type: integer
          description: Total count of keys for product and platform
        keys_processed:
          type: integer
          description: Count of keys have been processed


