openapi: 3.0.1
info:
  title: PaySuper API documentation
  description: PaySuper API documentation
  license:
    name: GPL v3
    url: https://www.gnu.org/licenses/gpl-3.0
  version: "1.0"
servers:
  - url: //p1payapi.tst.protocol.one/
paths:
  /country:
    get:
      tags:
        - Country
      summary: Get list of countries
      description: Get full list of currencies or get list of currencies filtered
        by name
      parameters:
        - name: name
          in: query
          description: name or symbolic ISO 3166-1 code of country
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/model.Country'
        500:
          description: Some unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /country/{id}:
    get:
      tags:
        - Country
      summary: Get country by numeric ISO 3166-1 code
      description: Get country object by numeric ISO 3166-1 code
      parameters:
        - name: id
          in: path
          description: numeric ISO 3166-1 country code
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Country'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /api/v1/order:
    post:
      tags:
        - Payment Order
      summary: Create order with json request
      description: Create a payment order use POST JSON request
      requestBody:
        description: Order create data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.OrderScalar'
        required: true
      responses:
        200:
          description: Object which contain data to render payment form
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.JsonOrderCreateResponse'
        400:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /api/v1/payment:
    post:
      tags:
        - Payment Order
      summary: Create payment
      description: Create payment by order
      requestBody:
        description: data to create payment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.OrderCreatePaymentRequest'
        required: true
      responses:
        200:
          description: contain url to redirect user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_system.PaymentResponse'
        400:
          description: contain error description about data validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_system.PaymentResponse'
        402:
          description: contain error description about error on payment system side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_system.PaymentResponse'
        500:
          description: contain error description about error on PSP (P1) side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_system.PaymentResponse'
      x-codegen-request-body-name: data
  /admin/api/v1/order:
    get:
      tags:
        - Order
      summary: Get orders
      description: Get orders list
      parameters:
        - name: id
          in: query
          description: order unique identifier
          schema:
            type: string
        - name: project[]
          in: query
          description: query array of list of projects to get orders filtered by they
          schema:
            type: string
        - name: payment_method[]
          in: query
          description: query array of list of payment methods to get orders filtered
            by they
          schema:
            type: string
        - name: country[]
          in: query
          description: query array of list of payer countries to get orders filtered
            by they
          schema:
            type: string
        - name: status[]
          in: query
          description: query array of list of orders statuses to get orders filtered
            by they
          schema:
            type: integer
        - name: account
          in: query
          description: payer account on the any side of payment process. for example
            it may be account in project, account in payment system, payer email and
            etc
          schema:
            type: string
        - name: pm_date_from
          in: query
          description: start date when payment was closed to get orders filtered by
            they
          schema:
            type: integer
        - name: pm_date_to
          in: query
          description: end date when payment was closed to get orders filtered by they
          schema:
            type: integer
        - name: project_date_from
          in: query
          description: start date when payment was created to get orders filtered by
            they
          schema:
            type: integer
        - name: project_date_to
          in: query
          description: end date when payment was closed in project to get orders filtered
            by they
          schema:
            type: integer
        - name: limit
          in: query
          description: maximum number of returning orders. default value is 100
          schema:
            type: integer
        - name: offset
          in: query
          description: offset from which you want to return the list of orders. default
            value is 0
          schema:
            type: integer
        - name: sort[]
          in: query
          description: query array of fields list for sorting
          schema:
            type: string
        - name: quick_search
          in: query
          description: multiple field search string - order unique identifier, user
            external identifier, project order identifier, project name, payment method
            name
          schema:
            type: string
        - name: merchant
          in: query
          description: query array of merchant identifier list
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order.list.public'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/order/{id}:
    get:
      tags:
        - Order
      summary: Get order data
      description: Get full object with order data
      parameters:
        - name: id
          in: path
          description: Order unique identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order.public'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /api/v1/orders/{id}/platform:
    post:
      tags:
        - Order
      summary: Change platform for order
      description: Change platform for order
      parameters:
        - name: id
          in: path
          description: Order unique identifier
          required: true
          schema:
            type: string
      requestBody:
        description: platform change request
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
        required: false
      responses:
        204:
          description: OK
          content: {}
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: body
  /admin/api/v1/projects:
    get:
      tags:
        - Project
      summary: List projects
      description: Get list of project for authenticated merchant
      parameters:
        - name: merchant_id
          in: query
          description: merchant identifier
          schema:
            type: string
        - name: quick_search
          in: query
          description: string to quick search by project name
          schema:
            type: string
        - name: status
          in: query
          description: array of project statuses
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: sort
          in: query
          description: fields list for sorting
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          description: maximum number of returning records. default value is 100
          schema:
            type: integer
        - name: offset
          in: query
          description: offset from which you want to return the list of records. default
            value is 0
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/model.Project'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
    post:
      tags:
        - Project
      summary: Create project
      description: Create new project for authenticated merchant
      requestBody:
        description: Creating project data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/projects.CreateRequest'
        required: true
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Project'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/projects/{id}:
    get:
      tags:
        - Project
      summary: Get project
      description: '"Get data about project"'
      parameters:
        - name: id
          in: path
          description: Project identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Project'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
    delete:
      tags:
        - Project
      summary: Delete project
      description: Deactivation project for authenticated merchant
      parameters:
        - name: id
          in: path
          description: Project identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
    patch:
      tags:
        - Project
      summary: Update project
      description: Update project for authenticated merchant
      parameters:
        - name: id
          in: path
          description: Project identifier
          required: true
          schema:
            type: string
      requestBody:
        description: Project object with new data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.Project'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Project'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/projects/{id}/sku:
    post:
      tags:
        - Project
      summary: Check sku+project unique
      description: Update project for authenticated merchant
      parameters:
        - name: id
          in: path
          description: Project identifier
          required: true
          schema:
            type: string
      requestBody:
        description: Project object with new data
        content:
          application/json:
            schema:
              type: object
              properties:
                sku:
                  type: string
                  example: my_awesome_sku_001
        required: true
      responses:
        200:
          description: OK
          content: {}
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /order/recreate:
    post:
      tags:
        - Payment Method
      summary: Create a payment method for payment system
      description: Recreate a payment order use order uuid for old order
      requestBody:
        description: product method properties
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
        required: false
      responses:
        200:
          description: Object which contain data to render payment form
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.JsonOrderCreateResponse'
        400:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Object with error message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: body
  /order/create:
    get:
      tags:
        - Payment Order
      summary: Create order with HTML form
      description: Create a payment order use GET or POST HTML form
      parameters:
        - name: PP_PROJECT_ID
          in: query
          description: Project unique identifier in Protocol One payment solution
          required: true
          schema:
            type: string
        - name: PP_AMOUNT
          in: query
          description: Order amount
          required: true
          schema:
            type: number
        - name: PP_ACCOUNT
          in: query
          description: User unique account in project
          required: true
          schema:
            type: string
        - name: PP_ORDER_ID
          in: query
          description: Unique order identifier in project. This field not required,
            BUT we're recommend send this field always
          schema:
            type: string
        - name: PP_PAYMENT_METHOD
          in: query
          description: Payment method identifier in Protocol One payment solution
          schema:
            type: string
        - name: PP_DESCRIPTION
          in: query
          description: Order description. If this field not send in request, then we're
            create standard order description
          schema:
            type: string
        - name: PP_CURRENCY
          in: query
          description: Order currency by ISO 4217 (3 chars). If this field send, then
            we're process amount in this currency
          schema:
            type: string
        - name: PP_REGION
          in: query
          description: User (payer) region code by ISO 3166-1 (2 chars) for check project
            packages. If this field not send, then user region will be get from user
            ip
          schema:
            type: string
        - name: PP_PAYER_EMAIL
          in: query
          description: User (payer) email
          schema:
            type: string
        - name: PP_PAYER_PHONE
          in: query
          description: User (payer) phone
          schema:
            type: string
        - name: PP_URL_VERIFY
          in: query
          description: URL for payment data verification request to project. This field
            can be send if it allowed in project admin panel
          schema:
            type: string
        - name: PP_URL_NOTIFY
          in: query
          description: URL for payment notification request to project. This field can
            be send if it allowed in project admin panel
          schema:
            type: string
        - name: PP_URL_SUCCESS
          in: query
          description: URL for redirect user after successfully completed payment. This
            field can be send if it allowed in project admin panel
          schema:
            type: string
        - name: PP_URL_FAIL
          in: query
          description: URL for redirect user after failed payment. This field can be
            send if it allowed in project admin panel
          schema:
            type: string
        - name: PP_SIGNATURE
          in: query
          description: Signature of request to verify that the data has not been changed.
            This field not required, BUT we're recommend send this field always
          schema:
            type: string
        - name: Other
          in: query
          description: Any fields on the project side that do not match the names of
            the reserved fields
          schema:
            type: string
      responses:
        302:
          description: Redirect user to form entering payment requisites
          content:
            text/html:
              schema:
                type: string
        400:
          description: Redirect user to page with error description
          content:
            text/html:
              schema:
                type: string
        500:
          description: Redirect user to page with error description
          content:
            text/html:
              schema:
                type: string
    post:
      tags:
        - Payment Order
      summary: Create order with HTML form
      description: Create a payment order use GET or POST HTML form
      parameters:
        - name: PP_PROJECT_ID
          in: query
          description: Project unique identifier in Protocol One payment solution
          required: true
          schema:
            type: string
        - name: PP_AMOUNT
          in: query
          description: Order amount
          required: true
          schema:
            type: number
        - name: PP_ACCOUNT
          in: query
          description: User unique account in project
          required: true
          schema:
            type: string
        - name: PP_ORDER_ID
          in: query
          description: Unique order identifier in project. This field not required,
            BUT we're recommend send this field always
          schema:
            type: string
        - name: PP_PAYMENT_METHOD
          in: query
          description: Payment method identifier in Protocol One payment solution
          schema:
            type: string
        - name: PP_DESCRIPTION
          in: query
          description: Order description. If this field not send in request, then we're
            create standard order description
          schema:
            type: string
        - name: PP_CURRENCY
          in: query
          description: Order currency by ISO 4217 (3 chars). If this field send, then
            we're process amount in this currency
          schema:
            type: string
        - name: PP_REGION
          in: query
          description: User (payer) region code by ISO 3166-1 (2 chars) for check project
            packages. If this field not send, then user region will be get from user
            ip
          schema:
            type: string
        - name: PP_PAYER_EMAIL
          in: query
          description: User (payer) email
          schema:
            type: string
        - name: PP_PAYER_PHONE
          in: query
          description: User (payer) phone
          schema:
            type: string
        - name: PP_URL_VERIFY
          in: query
          description: URL for payment data verification request to project. This field
            can be send if it allowed in project admin panel
          schema:
            type: string
        - name: PP_URL_NOTIFY
          in: query
          description: URL for payment notification request to project. This field can
            be send if it allowed in project admin panel
          schema:
            type: string
        - name: PP_URL_SUCCESS
          in: query
          description: URL for redirect user after successfully completed payment. This
            field can be send if it allowed in project admin panel
          schema:
            type: string
        - name: PP_URL_FAIL
          in: query
          description: URL for redirect user after failed payment. This field can be
            send if it allowed in project admin panel
          schema:
            type: string
        - name: PP_SIGNATURE
          in: query
          description: Signature of request to verify that the data has not been changed.
            This field not required, BUT we're recommend send this field always
          schema:
            type: string
        - name: Other
          in: query
          description: Any fields on the project side that do not match the names of
            the reserved fields
          schema:
            type: string
      responses:
        302:
          description: Redirect user to form entering payment requisites
          content:
            text/html:
              schema:
                type: string
        400:
          description: Redirect user to page with error description
          content:
            text/html:
              schema:
                type: string
        500:
          description: Redirect user to page with error description
          content:
            text/html:
              schema:
                type: string
  /api/v1/payment_method:
    post:
      tags:
        - Payment Method
      summary: Create a payment method for payment system
      description: Create a payment method for payment system
      requestBody:
        description: product method properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_method.PostProductMethod'
        required: false
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/payment_method.ChangePaymentMethodResponse'
        400:
          description: Error description
          content:
            text/html:
              schema:
                type: string
      x-codegen-request-body-name: body
  /api/v1/payment_method/{id}:
    put:
      tags:
        - Payment Method
      summary: Update a payment method for payment system
      description: Update a payment method for payment system
      parameters:
        - name: id
          in: path
          description: paymentmethod identifier
          required: true
          schema:
            type: string
      requestBody:
        description: product method properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_method.PutProductMethod'
        required: false
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/payment_method.ChangePaymentMethodResponse'
        400:
          description: Error description
          content:
            text/html:
              schema:
                type: string
      x-codegen-request-body-name: body
  /api/v1/payment_method/{id}/production:
    get:
      tags:
        - Payment Method
      summary: Get production settings to the payment method
      description: Get production settings to the payment method
      parameters:
        - name: id
          in: path
          description: payment method identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/payment_method.PaymentMethodParams'
        400:
          description: Error description
          content:
            text/html:
              schema:
                type: string
    put:
      tags:
        - Payment Method
      summary: Update production settings to the payment method
      description: Update production settings to the payment method
      parameters:
        - name: id
          in: path
          description: payment method identifier
          required: true
          schema:
            type: string
      requestBody:
        description: payment method params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_method.UpdatePaymentMethodParams'
        required: false
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/payment_method.ChangePaymentMethodParamsResponse'
        400:
          description: Error description
          content:
            text/html:
              schema:
                type: string
      x-codegen-request-body-name: body
    post:
      tags:
        - Payment Method
      summary: Add production settings to the payment method
      description: Add production settings to the payment method
      parameters:
        - name: id
          in: path
          description: paymentmethod identifier
          required: true
          schema:
            type: string
      requestBody:
        description: payment method params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_method.UpdatePaymentMethodParams'
        required: false
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/payment_method.ChangePaymentMethodParamsResponse'
        400:
          description: Error description
          content:
            text/html:
              schema:
                type: string
      x-codegen-request-body-name: body
    delete:
      tags:
        - Payment Method
      summary: Delete production settings to the payment method
      description: Delete production settings to the payment method
      parameters:
        - name: id
          in: path
          description: payment method identifier
          required: true
          schema:
            type: string
        - name: currency_a3
          in: query
          description: code of currency
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/payment_method.ChangePaymentMethodParamsResponse'
        400:
          description: Error description
          content:
            text/html:
              schema:
                type: string
  /api/v1/payment_method/{id}/test:
    get:
      tags:
        - Payment Method
      summary: Get test settings to the payment method
      description: Get test settings to the payment method
      parameters:
        - name: id
          in: path
          description: payment method identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/payment_method.PaymentMethodParams'
        400:
          description: Error description
          content:
            text/html:
              schema:
                type: string
    put:
      tags:
        - Payment Method
      summary: Update test settings to the payment method
      description: Update test settings to the payment method
      parameters:
        - name: id
          in: path
          description: paymentmethod identifier
          required: true
          schema:
            type: string
      requestBody:
        description: payment method params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_method.UpdatePaymentMethodParams'
        required: false
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/payment_method.ChangePaymentMethodParamsResponse'
        400:
          description: Error description
          content:
            text/html:
              schema:
                type: string
      x-codegen-request-body-name: body
    post:
      tags:
        - Payment Method
      summary: Add test settings to the payment method
      description: Add test settings to the payment method
      parameters:
        - name: id
          in: path
          description: paymentmethod identifier
          required: true
          schema:
            type: string
      requestBody:
        description: payment method params
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payment_method.UpdatePaymentMethodParams'
        required: false
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/payment_method.ChangePaymentMethodParamsResponse'
        400:
          description: Error description
          content:
            text/html:
              schema:
                type: string
      x-codegen-request-body-name: body
    delete:
      tags:
        - Payment Method
      summary: Delete test settings to the payment method
      description: Delete test settings to the payment method
      parameters:
        - name: id
          in: path
          description: payment method identifier
          required: true
          schema:
            type: string
        - name: currency_a3
          in: query
          description: code of currency
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/payment_method.ChangePaymentMethodParamsResponse'
        400:
          description: Error description
          content:
            text/html:
              schema:
                type: string
  /price_group/country:
    get:
      tags:
        - Price group
      summary: Get region and currency by country
      description: Get region and currency by country
      parameters:
        - name: country
          in: query
          description: two-letter code of country
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/price_group.CurrencyRegion'
        400:
          description: Error description
          content:
            application/json:
              schema:
                type: string
  /price_group/currencies:
    get:
      tags:
        - Price group
      summary: Get a list of all currencies with regions and countries in them
      description: Get a list of all currencies with regions and countries in them
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/price_group.CurrencyListResponse'
        400:
          description: Error description
          content:
            application/json:
              schema:
                type: string
  /price_group/region:
    get:
      tags:
        - Price group
      summary: Get currency for a region and a list of countries in it
      description: Get currency for a region and a list of countries in it
      parameters:
        - name: region
          in: query
          description: name of region
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/price_group.CurrencyListResponse'
        400:
          description: Error description
          content:
            application/json:
              schema:
                type: string
  /api/v1/pricing/recommended/steam:
    get:
      tags:
        - Pricing
      summary: Get recommended prices for regions by price groups
      description: Calculation of recommended prices based on price ranges as in Steam,
        taking into account regional factors.
      requestBody:
        description: Request param
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                currency:
                  type: string
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/price_group.RecommendedPriceResponse'
        400:
          description: Error description
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: data
  /api/v1/pricing/recommended/conversion:
    get:
      tags:
        - Pricing
      summary: Get recommended prices for regions by currency conversion
      description: Calculation of recommended prices based on exchange rates.
      requestBody:
        description: Request param
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                currency:
                  type: string
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/price_group.RecommendedPriceResponse'
        400:
          description: Error description
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: data
  /api/v1/pricing/recommended/table:
    get:
      tags:
        - Pricing
      summary: Get table of recommended prices for currency
      description: Get table of recommended prices for currency.
      requestBody:
        description: Request param
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:
                  type: string
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/price_group.RecommendedPriceTableResponse'
        400:
          description: Error description
          content:
            application/json:
              schema:
                type: string
      x-codegen-request-body-name: data
  /system/api/v1/merchants:
    get:
      tags:
        - Onboarding
      summary: Get list of merchants
      description: Get list of merchants
      parameters:
        - name: quick_search
          in: query
          description: string to quick search by merchant name or user owner email
          schema:
            type: string
        - name: name
          in: query
          description: merchant name
          schema:
            type: string
        - name: is_signed
          in: query
          description: query parameter to return merchants with full signed agreement
          schema:
            type: boolean
        - name: last_payout_date_from
          in: query
          description: start date to filter merchants by last payout date. parameter
            format must be a unix timestamp
          schema:
            type: integer
        - name: last_payout_date_to
          in: query
          description: end date to filter merchants by last payout date. parameter format
            must be a unix timestamp
          schema:
            type: integer
        - name: last_payout_amount
          in: query
          description: last payout amount
          schema:
            type: integer
        - name: status
          in: query
          description: array of merchant statuses
          style: form
          explode: false
          schema:
            type: array
            items:
              type: integer
        - name: limit
          in: query
          description: maximum number of returning orders. default value is 100
          schema:
            type: integer
        - name: offset
          in: query
          description: offset from which you want to return the list of orders. default
            value is 0
          schema:
            type: integer
        - name: sort[]
          in: query
          description: fields list for sorting
          schema:
            type: string
        - name: registration_date_from
          in: query
          description: start date to filter merchants by owner regiatration date. unix
            timestamp value in seconds
          schema:
            type: integer
        - name: registration_date_to
          in: query
          description: end date to filter merchants by owner regiatration date. unix
            timestamp value in seconds
          schema:
            type: integer
        - name: received_date_from
          in: query
          description: start date to filter merchants by date when licanse agreement
            was signed by merchant owner. unix timestamp value in seconds
          schema:
            type: integer
        - name: received_date_to
          in: query
          description: end date to filter merchants by date when licanse agreement was
            signed by merchant owner. unix timestamp value in seconds
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /system/api/v1/merchants/{id}:
    get:
      tags:
        - Onboarding
      summary: Get merchant by identifier
      description: Get list of merchants
      parameters:
        - name: id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants:
    patch:
      tags:
        - Onboarding
      summary: Change merchant information
      description: Change merchant agreement information
      parameters:
        - name: id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      requestBody:
        description: data for change
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Merchant.ChangeAgreementDataRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/merchants/{id}/change-status:
    put:
      tags:
        - Onboarding
      summary: Change merchant status
      description: Change merchant status
      parameters:
        - name: id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      requestBody:
        description: Data required to change status
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Merchant.ChangeStatus'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/merchants/manual_payout/enable:
    put:
      tags:
        - Onboarding
      summary: Enable merchant manual payouts
      description: Enable merchant manual payouts
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/manual_payout/disable:
    put:
      tags:
        - Onboarding
      summary: Disable merchant manual payouts
      description: Disable merchant manual payouts
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/notifications:
    get:
      tags:
        - Onboarding
      summary: Get list of notifications to merchant
      description: Get list of notifications to merchant
      parameters:
        - name: user
          in: query
          description: user who sent notification
          schema:
            type: string
        - name: is_system
          in: query
          description: 'flag to filter return notification: 0 - return only notification;
          1 - return only history'
          schema:
            type: integer
        - name: limit
          in: query
          description: limit of returning records
          schema:
            type: integer
        - name: offset
          in: query
          description: offset of returning records
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/onboarding.Merchant.Notifications'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /system/api/v1/merchants/{merchant_id}/notifications:
    get:
      tags:
        - Onboarding
      summary: Get list of notifications to merchant
      description: Get list of notifications to merchant
      parameters:
        - name: merchant_id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
        - name: user
          in: query
          description: user who sent notification
          schema:
            type: string
        - name: is_system
          in: query
          description: 'flag to filter return notification: 0 - return only notification;
          1 - return only history'
          schema:
            type: integer
        - name: limit
          in: query
          description: limit of returning records
          schema:
            type: integer
        - name: offset
          in: query
          description: offset of returning records
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/onboarding.Merchant.Notifications'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
    post:
      tags:
        - Onboarding
      summary: Create new notification
      description: Create new notification
      parameters:
        - name: merchant_id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      requestBody:
        description: Notification data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Merchant.Notification.CreateRequest'
        required: true
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant.Notification'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/merchants/notifications/{notification_id}:
    get:
      tags:
        - Onboarding
      summary: Get notification by identifier
      description: Get notification by identifier
      parameters:
        - name: notification_id
          in: path
          description: notification identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant.Notification'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/notifications/{notification_id}/mark-as-read:
    put:
      tags:
        - Onboarding
      summary: Mark notification as readed
      description: Mark notification as readed
      parameters:
        - name: notification_id
          in: path
          description: notification identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant.Notification'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/{id}/agreement-type:
    patch:
      tags:
        - Onboarding
      summary: Set merchant agreement type
      description: Set merchant agreement type
      parameters:
        - name: id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      requestBody:
        description: data to change agreement type
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Merchant.ChangeAgreementType.Request'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/taxes:
    get:
      tags:
        - Tax
      summary: List all available tax rates in the system
      description: List all available tax rates in the system
      parameters:
        - name: country
          in: query
          description: country to filter response
          schema:
            type: string
        - name: city
          in: query
          description: city to filter response
          schema:
            type: string
        - name: state
          in: query
          description: state to filter response
          schema:
            type: string
        - name: zip
          in: query
          description: zip to filter response
          schema:
            type: string
        - name: limit
          in: query
          description: maximum number of returning orders. default value is 100
          schema:
            type: integer
        - name: offset
          in: query
          description: offset from which you want to return the list of orders. default
            value is 0
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/taxes.TaxRate'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
    post:
      tags:
        - Tax
      summary: Upsert tax rate data.
      description: Create or update tax rate data.
      requestBody:
        description: Object to upsert
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/taxes.TaxRate'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/taxes.TaxRate'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/taxes/{id}:
    delete:
      tags:
        - Tax
      summary: Delete tax rate object
      description: Mark tax rate object as deleted
      parameters:
        - name: id
          in: path
          description: tax rate object id
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/order/{order_id}/refunds:
    get:
      tags:
        - Order
      summary: Get list of refunds to order
      description: Get list of refunds to order
      parameters:
        - name: order_id
          in: path
          description: order identifier
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: count of records to need to return
          required: true
          schema:
            type: string
        - name: offset
          in: query
          description: number of record which must be first in listing
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/order.Refund'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
    post:
      tags:
        - Order
      summary: Create new refund to order
      description: Create new refund to order
      parameters:
        - name: order_id
          in: path
          description: order identifier
          required: true
          schema:
            type: string
      requestBody:
        description: refund data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order.Refund.CreateRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order.Refund'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/order/{order_id}/refunds/{refund_id}:
    get:
      tags:
        - Order
      summary: Get refund data
      description: Get refund data
      parameters:
        - name: order_id
          in: path
          description: order identifier
          required: true
          schema:
            type: string
        - name: refund_id
          in: path
          description: refund identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order.Refund'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/agreement:
    get:
      tags:
        - Onboarding
      summary: Generate agreement
      description: Generate agreement for merchant and return data about printable
        agreement
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant.PrintableAgreementData.Response'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /system/api/v1/merchants/{merchant_id}/agreement:
    get:
      tags:
        - Onboarding
      summary: Generate agreement
      description: Generate agreement for merchant and return data about printable
        agreement
      parameters:
        - name: merchant_id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant.PrintableAgreementData.Response'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/agreement/document:
    get:
      tags:
        - Onboarding
      summary: Download merchant agreement
      description: Download merchant agreement
      responses:
        200:
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        400:
          description: Invalid request data
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
  /system/api/v1/merchants/{merchant_id}/agreement/document:
    get:
      tags:
        - Onboarding
      summary: Download merchant agreement
      description: Download merchant agreement
      parameters:
        - name: merchant_id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        400:
          description: Invalid request data
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/model.Error'
  /api/v1/tokens:
    post:
      tags:
        - Token
      summary: Create token
      description: Create token for process payment token create
      requestBody:
        description: Data to process payment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/token.TokenRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token.TokenResponse'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      security:
        - XAPISignatureHeader: []
      x-codegen-request-body-name: data
  /admin/api/v1/products/:id/prices:
    get:
      tags:
        - Products
      summary: Get product prices
      description: Get product prices
      parameters:
        - name: id
          in: query
          description: id of product
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/product.Price'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      security:
        - XAPISignatureHeader: []
    put:
      tags:
        - Products
      summary: Set product prices
      description: Set product prices
      requestBody:
        description: price properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product.PutPrice'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      security:
        - XAPISignatureHeader: []
      x-codegen-request-body-name: body
  /api/v1/user/profile:
    get:
      tags:
        - User Profile
      summary: Get user profile
      description: Get user profile
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userProfile.response'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
    patch:
      tags:
        - User Profile
      summary: Create or update user profile
      description: Create or update user profile
      requestBody:
        description: User profile information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userProfile.request'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userProfile.response'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /api/v1/user/profile/common:
    get:
      tags:
        - User Profile
      summary: Get common user profile
      description: Get common user profile (main profile, user role, user permissions)
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userCommonProfile'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /user/confirm_email:
    put:
      tags:
        - User Profile
      summary: Confirm user email
      description: Confirm user email by token
      requestBody:
        description: object contained confirmation token
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/user.confirmEmail.request'
        required: true
      responses:
        200:
          description: OK
          content: {}
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /system/api/v1/user/profile/{id}:
    get:
      tags:
        - User Profile
      summary: Get user profile by proifile identifier
      description: Get user profile by profile identifier
      parameters:
        - name: id
          in: path
          description: profile identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userProfile.response'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /api/v1/user/feedback:
    post:
      tags:
        - User Profile
      summary: Create page review
      description: Create page feedback
      requestBody:
        description: review body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pageReview.request'
        required: true
      responses:
        200:
          description: OK
          content: {}
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/merchants/agreement/signature:
    put:
      tags:
        - Onboarding
      summary: Get data to sign agreement
      description: Get data to sign license agreement with hellosign api
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.merchant.signatureResponse'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /system/api/v1/merchants/{merchant_id}/agreement/signature:
    put:
      tags:
        - Onboarding
      summary: Get data to sign agreement
      description: Get data to sign license agreement with hellosign api
      parameters:
        - name: merchant_id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.merchant.signatureResponse'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /admin/api/v1/merchants/company:
    put:
      tags:
        - Onboarding
      summary: Set company information
      description: Set company information
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Company'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /system/api/v1/merchants/{id}/company:
    put:
      tags:
        - Onboarding
      summary: Set company information
      description: Set company information
      parameters:
        - name: id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Company'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /admin/api/v1/merchants/contacts:
    put:
      tags:
        - Onboarding
      summary: Set contacts information
      description: Set contacts information
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Contacts'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onboarding.Merchant'
        400:
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        403:
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        404:
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        500:
          description: Some unknown error on server side
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: data
  /system/api/v1/merchants/{id}/contacts:
    put:
      tags:
        - Onboarding
      summary: Set contacts information
      description: Set contacts information
      parameters:
        - name: id
          in: path
          description: merchant identifier
          required: true
          schema:
            type: string
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/onboarding.Contacts'
[...]
